functionality:
  name: "find_neighbors"
  namespace: "neighbors"
  version: "main_build"
  authors:
  - name: "Dries De Maeyer"
    roles:
    - "maintainer"
    info:
      role: "Core Team Member"
      links:
        email: "ddemaeyer@gmail.com"
        github: "ddemaeyer"
        linkedin: "dries-de-maeyer-b46a814"
      organizations:
      - name: "Janssen Pharmaceuticals"
        href: "https://www.janssen.com"
        role: "Principal Scientist"
  - name: "Robrecht Cannoodt"
    roles:
    - "contributor"
    info:
      role: "Core Team Member"
      links:
        email: "robrecht@data-intuitive.com"
        github: "rcannood"
        orcid: "0000-0003-3641-729X"
        linkedin: "robrechtcannoodt"
      organizations:
      - name: "Data Intuitive"
        href: "https://www.data-intuitive.com"
        role: "Data Science Engineer"
      - name: "Open Problems"
        href: "https://openproblems.bio"
        role: "Core Member"
  arguments:
  - type: "file"
    name: "--input"
    alternatives:
    - "-i"
    description: "Input h5mu file"
    info: null
    example:
    - "input.h5mu"
    must_exist: true
    create_parent: true
    required: true
    direction: "input"
    multiple: false
    multiple_sep: ":"
    dest: "par"
  - type: "string"
    name: "--modality"
    info: null
    default:
    - "rna"
    required: false
    direction: "input"
    multiple: false
    multiple_sep: ":"
    dest: "par"
  - type: "string"
    name: "--obsm_input"
    description: "Which .obsm slot to use as a starting PCA embedding."
    info: null
    default:
    - "X_pca"
    required: false
    direction: "input"
    multiple: false
    multiple_sep: ":"
    dest: "par"
  - type: "file"
    name: "--output"
    alternatives:
    - "-o"
    description: "Output h5mu file containing the found neighbors."
    info: null
    example:
    - "output.h5mu"
    must_exist: true
    create_parent: true
    required: false
    direction: "output"
    multiple: false
    multiple_sep: ":"
    dest: "par"
  - type: "string"
    name: "--output_compression"
    description: "The compression format to be used on the output h5mu object."
    info: null
    example:
    - "gzip"
    required: false
    choices:
    - "gzip"
    - "lzf"
    direction: "input"
    multiple: false
    multiple_sep: ":"
    dest: "par"
  - type: "string"
    name: "--uns_output"
    description: "Mandatory .uns slot to store various neighbor output objects."
    info: null
    default:
    - "neighbors"
    required: false
    direction: "input"
    multiple: false
    multiple_sep: ":"
    dest: "par"
  - type: "string"
    name: "--obsp_distances"
    description: "In which .obsp slot to store the distance matrix between the resulting\
      \ neighbors."
    info: null
    default:
    - "distances"
    required: false
    direction: "input"
    multiple: false
    multiple_sep: ":"
    dest: "par"
  - type: "string"
    name: "--obsp_connectivities"
    description: "In which .obsp slot to store the connectivities matrix between the\
      \ resulting neighbors."
    info: null
    default:
    - "connectivities"
    required: false
    direction: "input"
    multiple: false
    multiple_sep: ":"
    dest: "par"
  - type: "string"
    name: "--metric"
    description: "The distance metric to be used in the generation of the nearest\
      \ neighborhood network."
    info: null
    default:
    - "euclidean"
    required: false
    choices:
    - "cityblock"
    - "cosine"
    - "euclidean"
    - "l1"
    - "l2"
    - "manhattan"
    - "braycurtis"
    - "canberra"
    - "chebyshev"
    - "correlation"
    - "dice"
    - "hamming"
    - "jaccard"
    - "kulsinski"
    - "mahalanobis"
    - "minkowski"
    - "rogerstanimoto"
    - "russellrao"
    - "seuclidean"
    - "sokalmichener"
    - "sokalsneath"
    - "sqeuclidean"
    - "yule"
    direction: "input"
    multiple: false
    multiple_sep: ":"
    dest: "par"
  - type: "integer"
    name: "--num_neighbors"
    description: "The size of local neighborhood (in terms of number of neighboring\
      \ data points) used for manifold approximation. Larger values result in more\
      \ global views of the manifold, while smaller values result in more local data\
      \ being preserved. In general values should be in the range 2 to 100. If knn\
      \ is True, number of nearest neighbors to be searched. If knn is False, a Gaussian\
      \ kernel width is set to the distance of the n_neighbors neighbor."
    info: null
    default:
    - 15
    required: false
    direction: "input"
    multiple: false
    multiple_sep: ":"
    dest: "par"
  - type: "integer"
    name: "--seed"
    description: "A random seed."
    info: null
    default:
    - 0
    required: false
    direction: "input"
    multiple: false
    multiple_sep: ":"
    dest: "par"
  resources:
  - type: "python_script"
    path: "script.py"
    is_executable: true
  - type: "file"
    path: "src/utils/setup_logger.py"
  - type: "file"
    path: "./src/workflows/utils/labels.config"
    dest: "nextflow_labels.config"
  description: "Compute a neighborhood graph of observations [McInnes18].\n\nThe neighbor\
    \ search efficiency of this heavily relies on UMAP [McInnes18], which also provides\
    \ a method for estimating connectivities of data points - the connectivity of\
    \ the manifold (method=='umap'). If method=='gauss', connectivities are computed\
    \ according to [Coifman05], in the adaption of [Haghverdi16].\n"
  test_resources:
  - type: "python_script"
    path: "test.py"
    is_executable: true
  - type: "file"
    path: "resources_test/pbmc_1k_protein_v3"
  info: null
  status: "enabled"
  requirements:
    commands:
    - "ps"
  set_wd_to_resources_dir: false
platforms:
- type: "docker"
  id: "docker"
  image: "python:3.10-slim"
  target_organization: "openpipelines-bio"
  target_registry: "ghcr.io"
  target_tag: "main_build"
  namespace_separator: "_"
  resolve_volume: "Automatic"
  chown: true
  setup_strategy: "ifneedbepullelsecachedbuild"
  target_image_source: "https://github.com/openpipelines-bio/openpipeline"
  setup:
  - type: "apt"
    packages:
    - "procps"
    interactive: false
  - type: "python"
    user: false
    packages:
    - "anndata~=0.9.1"
    - "mudata~=0.2.3"
    - "pandas!=2.1.2"
    - "scanpy~=1.9.5"
    - "statsmodels==0.14.0"
    upgrade: true
  test_setup:
  - type: "python"
    user: false
    packages:
    - "viashpy==0.6.0"
    upgrade: true
  entrypoint: []
  cmd: null
- type: "nextflow"
  id: "nextflow"
  directives:
    label:
    - "lowcpu"
    - "midmem"
    tag: "$id"
  auto:
    simplifyInput: true
    simplifyOutput: false
    transcript: false
    publish: false
  config:
    labels:
      mem1gb: "memory = 1.GB"
      mem2gb: "memory = 2.GB"
      mem4gb: "memory = 4.GB"
      mem8gb: "memory = 8.GB"
      mem16gb: "memory = 16.GB"
      mem32gb: "memory = 32.GB"
      mem64gb: "memory = 64.GB"
      mem128gb: "memory = 128.GB"
      mem256gb: "memory = 256.GB"
      mem512gb: "memory = 512.GB"
      mem1tb: "memory = 1.TB"
      mem2tb: "memory = 2.TB"
      mem4tb: "memory = 4.TB"
      mem8tb: "memory = 8.TB"
      mem16tb: "memory = 16.TB"
      mem32tb: "memory = 32.TB"
      mem64tb: "memory = 64.TB"
      mem128tb: "memory = 128.TB"
      mem256tb: "memory = 256.TB"
      mem512tb: "memory = 512.TB"
      cpu1: "cpus = 1"
      cpu2: "cpus = 2"
      cpu5: "cpus = 5"
      cpu10: "cpus = 10"
      cpu20: "cpus = 20"
      cpu50: "cpus = 50"
      cpu100: "cpus = 100"
      cpu200: "cpus = 200"
      cpu500: "cpus = 500"
      cpu1000: "cpus = 1000"
    script:
    - "includeConfig(\"nextflow_labels.config\")"
  debug: false
  container: "docker"
info:
  config: "/home/runner/work/openpipeline/openpipeline/src/neighbors/find_neighbors/config.vsh.yaml"
  platform: "nextflow"
  output: "/home/runner/work/openpipeline/openpipeline/target/nextflow/neighbors/find_neighbors"
  executable: "/home/runner/work/openpipeline/openpipeline/target/nextflow/neighbors/find_neighbors/find_neighbors"
  viash_version: "0.8.4"
  git_commit: "0249988ac13bb694d9ee404eb46bee7f7702a326"
  git_remote: "https://github.com/openpipelines-bio/openpipeline"
