functionality:
  name: embedding
  namespace: scgpt
  description: |
    Generation of cell embeddings for the integration of single cell transcriptomic count data using scGPT.
  authors:
    - __merge__: /src/authors/dorien_roosen.yaml
      roles: [ maintainer, author ]

  argument_groups:
    - name: Inputs
      arguments:
        - name: "--input"
          type: file
          direction: input
          required: true
          example: input.h5mu
          description: |
            The input h5mu file containing tokenized gene and count data. 
        - name: "--modality"
          type: string
          default: "rna"
          required: false
        - name: "--model"
          type: file
          direction: input
          required: true
          example: best_model.pt
          description: |
            Path to scGPT model file.
        - name: "--model_vocab"
          type: file
          direction: input
          required: true
          example: vocab.json
          description: |
            Path to scGPT model vocabulary file.
        - name: "--model_config"
          type: file
          direction: input
          required: true
          example: args.json
          description: |
            Path to scGPT model config file.
        - name: "--obsm_gene_tokens"
          type: string
          default: "gene_id_tokens"
          description: |
            The key of the .obsm array containing the gene token ids
          example: values.pt
        - name: "--obsm_tokenized_values"
          type: string
          default: values_tokenized
          description: |
            The key of the .obsm array containing the count values of the tokenized genes
        - name: "--obsm_padding_mask"
          type: string
          default: padding_mask
          description: |
            The key of the .obsm array containing the padding mask.
        - name: "--var_gene_names"
          type: string
          description: |
            The name of the .var column containing gene names. When no gene_name_layer is provided, the .var index will be used.
        - name: "--obs_batch_label"
          type: string
          description: |
            The name of the adata.obs column containing the batch labels. Must be provided when 'dsbn' is set to True.

    - name: Outputs
      arguments:
        - name: "--output"
          type: file
          required: true
          description: |
            Path to output anndata file containing pre-processed data as well as scGPT embeddings.
          direction: output
          example: output.h5mu
        - name: "--output_compression"
          type: string
          example: "gzip"
          required: false
          choices: ["gzip", "lzf"]
          description: |
            The compression algorithm to use for the output h5mu file.
        - name: "--obsm_embeddings"
          type: string
          default: "X_scGPT"
          description: |
            The name of the adata.obsm array to which scGPT embeddings will be written.

    - name: Arguments
      arguments:
        - name: "--pad_token"
          type: string
          default: "<pad>"
          description: |
            The token to be used for padding.
        - name: "--pad_value"
          type: integer
          default: -2
          description: |
            The value of the padding token.
        - name: "--dropout"
          type: double
          min: 0
          max: 1
          default: 0.2
          description: |
            Dropout value used for the transformer encoder layer
        - name: "--dbsn"
          type: boolean
          default: true
          description: |
            Whether to apply domain-specific batch normalization for generating embeddings. When set to True, 'obs_batch_labels' must be set as well.
        - name: "--batch_size"
          type: integer
          default: 64
          description: |
            The batch size to be used for inference
        - name: "--dsbn"
          type: boolean
          default: true
          description: |
            Whether to apply domain-specific batch normalization for generating embeddings. When set to True, 'obs_batch_labels' must be set as well.
        - name: "--device"
          type: string
          default: "cpu"
          choices: ["cpu", "cuda"]
          description: |
            The device to be used for inference.

  resources:
    - type: python_script
      path: script.py
  test_resources:
    - type: python_script
      path: test.py
    - path: /resources_test/scgpt/source
    - path: /resources_test/scgpt/test_resources/Kim2020_Lung_subset.h5mu

platforms:
  - type: docker
    image: nvcr.io/nvidia/pytorch:23.09-py3
    setup:
      - type: python
        __merge__: [ /src/base/requirements/anndata_mudata.yaml, /src/base/requirements/scanpy.yaml ]
      - type: python 
        packages:
          - scgpt==0.2.1
    test_setup:
      - type: python
        __merge__: [ /src/base/requirements/viashpy.yaml ]
  - type: nextflow
    directives:
      label: [ midmem ]
