functionality:
  name: "bcl_convert"
  namespace: "demux"
  version: "scgpt-preprocessor_build"
  authors:
  - name: "Toni Verbeiren"
    roles:
    - "author"
    - "maintainer"
    info:
      role: "Core Team Member"
      links:
        github: "tverbeiren"
        linkedin: "verbeiren"
      organizations:
      - name: "Data Intuitive"
        href: "https://www.data-intuitive.com"
        role: "Data Scientist and CEO"
  - name: "Marijke Van Moerbeke"
    roles:
    - "author"
    info:
      role: "Contributor"
      links:
        github: "mvanmoerbeke"
        orcid: "0000-0002-3097-5621"
        linkedin: "marijke-van-moerbeke-84303a34"
      organizations:
      - name: "OpenAnalytics"
        href: "https://www.openanalytics.eu"
        role: "Statistical Consultant"
  arguments:
  - type: "file"
    name: "--input"
    alternatives:
    - "-i"
    description: "Input run directory"
    info: null
    example:
    - "bcl_dir"
    must_exist: true
    create_parent: true
    required: true
    direction: "input"
    multiple: false
    multiple_sep: ":"
    dest: "par"
  - type: "file"
    name: "--sample_sheet"
    alternatives:
    - "-s"
    description: "Pointer to the sample sheet"
    info: null
    example:
    - "bcl_dir"
    must_exist: true
    create_parent: true
    required: true
    direction: "input"
    multiple: false
    multiple_sep: ":"
    dest: "par"
  - type: "file"
    name: "--output"
    alternatives:
    - "-o"
    description: "Output directory containig fastq files"
    info: null
    example:
    - "fastq_dir"
    must_exist: true
    create_parent: true
    required: true
    direction: "output"
    multiple: false
    multiple_sep: ":"
    dest: "par"
  - type: "file"
    name: "--reports"
    description: "Reports directory"
    info: null
    example:
    - "reports_dir"
    must_exist: true
    create_parent: true
    required: false
    direction: "output"
    multiple: false
    multiple_sep: ":"
    dest: "par"
  - type: "boolean"
    name: "--test_mode"
    description: "Should bcl-convert be run in test mode (using --first-tile-only)?"
    info: null
    default:
    - false
    required: false
    direction: "input"
    multiple: false
    multiple_sep: ":"
    dest: "par"
  resources:
  - type: "bash_script"
    path: "script.sh"
    is_executable: true
  - type: "file"
    path: "./src/workflows/utils/labels.config"
    dest: "nextflow_labels.config"
  description: "Convert bcl files to fastq files using bcl-convert.\nInformation about\
    \ upgrading from bcl2fastq via\nhttps://emea.support.illumina.com/bulletins/2020/10/upgrading-from-bcl2fastq-to-bcl-convert.html\n\
    and https://support.illumina.com/sequencing/sequencing_software/bcl-convert/compatibility.html\n"
  test_resources:
  - type: "bash_script"
    path: "test.sh"
    is_executable: true
  - type: "file"
    path: "resources_test/cellranger_tiny_bcl/bcl2"
  - type: "file"
    path: "src/base/openpipelinetestutils"
    dest: "openpipelinetestutils"
  info: null
  status: "enabled"
  requirements:
    commands:
    - "ps"
  set_wd_to_resources_dir: false
platforms:
- type: "docker"
  id: "docker"
  image: "ghcr.io/data-intuitive/bclconvert:3.10"
  target_organization: "openpipelines-bio"
  target_registry: "ghcr.io"
  target_tag: "scgpt-preprocessor_build"
  namespace_separator: "_"
  resolve_volume: "Automatic"
  chown: true
  setup_strategy: "ifneedbepullelsecachedbuild"
  target_image_source: "https://github.com/openpipelines-bio/openpipeline"
  entrypoint: []
  cmd: null
- type: "nextflow"
  id: "nextflow"
  directives:
    label:
    - "midmem"
    - "midcpu"
    tag: "$id"
  auto:
    simplifyInput: true
    simplifyOutput: false
    transcript: false
    publish: false
  config:
    labels:
      mem1gb: "memory = 1.GB"
      mem2gb: "memory = 2.GB"
      mem4gb: "memory = 4.GB"
      mem8gb: "memory = 8.GB"
      mem16gb: "memory = 16.GB"
      mem32gb: "memory = 32.GB"
      mem64gb: "memory = 64.GB"
      mem128gb: "memory = 128.GB"
      mem256gb: "memory = 256.GB"
      mem512gb: "memory = 512.GB"
      mem1tb: "memory = 1.TB"
      mem2tb: "memory = 2.TB"
      mem4tb: "memory = 4.TB"
      mem8tb: "memory = 8.TB"
      mem16tb: "memory = 16.TB"
      mem32tb: "memory = 32.TB"
      mem64tb: "memory = 64.TB"
      mem128tb: "memory = 128.TB"
      mem256tb: "memory = 256.TB"
      mem512tb: "memory = 512.TB"
      cpu1: "cpus = 1"
      cpu2: "cpus = 2"
      cpu5: "cpus = 5"
      cpu10: "cpus = 10"
      cpu20: "cpus = 20"
      cpu50: "cpus = 50"
      cpu100: "cpus = 100"
      cpu200: "cpus = 200"
      cpu500: "cpus = 500"
      cpu1000: "cpus = 1000"
    script:
    - "includeConfig(\"nextflow_labels.config\")"
  debug: false
  container: "docker"
info:
  config: "/home/runner/work/openpipeline/openpipeline/src/demux/bcl_convert/config.vsh.yaml"
  platform: "nextflow"
  output: "/home/runner/work/openpipeline/openpipeline/target/nextflow/demux/bcl_convert"
  executable: "/home/runner/work/openpipeline/openpipeline/target/nextflow/demux/bcl_convert/bcl_convert"
  viash_version: "0.8.5"
  git_commit: "d33e248c3fcb8efc8156fcbd755f1ba525ae8eaf"
  git_remote: "https://github.com/openpipelines-bio/openpipeline"
  git_tag: "0.2.0-1577-gd33e248c3f"
