name: publish
namespace: "transfer"
scope: "private"
description: Publish an artifact and optionally rename with parameters
authors:
  - __merge__: /src/authors/toni_verbeiren.yaml
    roles: [ maintainer ]
arguments:
  - name: "--input"
    alternatives: ["-i"]
    type: file
    direction: input
    required: true
    description: Input filename
  - name: "--output"
    alternatives: ["-o"]
    type: file
    direction: output
    required: true
    description: Output filename
resources:
  - type: bash_script
    path: script.sh
test_resources:
  - type: bash_script
    path: run_test.sh

engines:
- type: docker
  image: ubuntu:22.04

runners:
- type: executable
- type: nextflow
