name: "scgpt_integration_knn_test"
namespace: "test_workflows/annotation"
description: "This component test the output of the scgpt_integration_knn workflow."
authors:
  - __merge__: /src/authors/dorien_roosen.yaml
argument_groups:
  - name: Inputs
    arguments:
      - name: "--input"
        type: file
        required: true
        description: Path to h5mu output.
        example: foo.final.h5mu
      - name: "--orig_input"
        type: file
        required: true
        description: Path to the original input file.
        example: input.h5mu
      - name: "--n_hvg"
        type: integer
        required: true
        description: Number of HVG that the input file was subset for
        example: 500
        
resources:
  - type: python_script
    path: script.py
  - path: /src/base/openpipelinetestutils
    dest: openpipelinetestutils
engines:
  - type: docker
    image: python:3.12-slim
    setup:
      - type: python
        __merge__: [/src/base/requirements/anndata_mudata.yaml, .]
      - type: docker
        copy: ["openpipelinetestutils /opt/openpipelinetestutils"]
      - type: apt
        packages: 
          - procps
      - type: python
        packages: /opt/openpipelinetestutils
runners:
  - type: executable
  - type: nextflow
    directives:
      label: ["midmem"]