manifest {
  nextflowVersion = '!>=20.12.1-edge'
}

// ADAPT rootDir ACCORDING TO RELATIVE PATH WITHIN PROJECT
params {
  rootDir = "$projectDir/../../.."
  bd_rhapsody_wta__parallel = "true"
}

def viash_temp = System.getenv("VIASH_TEMP") ?: "/tmp/"
def rootDir = java.nio.file.Paths.get(params.rootDir).toAbsolutePath().normalize().toString()
targetDir = "$rootDir/target/nextflow"

// INSERT CUSTOM IMPORTS HERE
includeConfig "$targetDir/mapping/bd_rhapsody_wta/nextflow.config"
includeConfig "$targetDir/convert/convert_bdrhap_to_h5ad/nextflow.config"
includeConfig "$targetDir/transfer/publish/nextflow.config"
// END INSERT

docker {
  runOptions = "-v $rootDir:$rootDir -v $viash_temp:$viash_temp"
}

process {
  //errorStrategy = 'ignore'
  container = 'nextflow/bash:latest'
  
  withLabel: highmem { memory = 50.Gb }
  withLabel: highcpu { cpus = 20 }
}
