manifest {
  nextflowVersion = '!>=20.12.1-edge'
}

// ADAPT rootDir ACCORDING TO RELATIVE PATH WITHIN PROJECT
params {
  rootDir = java.nio.file.Paths.get("$projectDir/../../../").toAbsolutePath().normalize().toString()
}

def targetDir = "${params.rootDir}/target/nextflow"
def viash_temp = System.getenv("VIASH_TEMP") ?: "/tmp/"

// INSERT CUSTOM IMPORTS HERE
includeConfig "$targetDir/mapping/bd_rhapsody_wta/nextflow.config"
includeConfig "$targetDir/convert/from_bdrhap_to_h5ad/nextflow.config"
includeConfig "$targetDir/transfer/publish/nextflow.config"
// END INSERT

docker {
  runOptions = "-v ${params.rootDir}:${params.rootDir} -v $viash_temp:$viash_temp"
}

process {
  //errorStrategy = 'ignore'
  container = 'nextflow/bash:latest'
  
  withLabel: highmem { memory = 50.Gb }
  withLabel: highcpu { cpus = 20 }
}
