name: "harmony_knn_test"
namespace: "test_workflows/annotation"
scope: "test"
scope: "public"
description: "This component tests the output of the annotation of the harmony_knn of workflow."
authors:
  - __merge__: /src/authors/dorien_roosen.yaml
argument_groups:
  - name: Inputs
    arguments:
      - name: "--input"
        type: file
        required: true
        description: Path to h5mu output.
        example: foo.final.h5mu
resources:
  - type: python_script
    path: script.py
  - path: /src/utils/setup_logger.py
engines:
  - type: docker
    image: python:3.12-slim
    __merge__: /src/base/requirements/testworkflows_setup.yaml
runners:
  - type: executable
  - type: nextflow