name: "scanvi_model"
namespace: "workflows/embedding_model"
scope: "public"
description: "Generation of a scANVI reference model."
authors:
  - __merge__: /src/authors/dorien_roosen.yaml
    roles: [ author, maintainer ]
  - __merge__: /src/authors/weiwei_schultz.yaml
    roles: [ contributor ]

info:
  name: "scANVI model workflow"
  test_dependencies:
    - name: scanvi_model_test
      namespace: test_workflows/embedding_model

argument_groups:
  - name: Inputs
    arguments:
      - name: "--input"
        required: true
        type: file
        description: Reference dataset consisting of the labeled observations to train the scANVI classifier on.
        example: reference.h5mu
      - name: "--modality"
        type: string
        default: "rna"
        description: The modality from the --input to be processed.
      - name: "--layer"
        type: string
        description: Which layer to use if .X is not to be used.
      - name: "--obs_target"
        type: string
        example: cell_type
        required: true
        description: The `.obs` key containing the target labels.
      - name: "--obs_batch_label"
        type: string
        description:  "The .obs field in the reference dataset containing the batch labels."
        example: "sample"
        required: true
      - name: "--obs_size_factor"
        type: string
        required: false
        description: |
          Key in adata.obs for size factor information. Instead of using library size as a size factor,
          the provided size factor column will be used as offset in the mean of the likelihood.
          Assumed to be on linear scale.
      - name: "--obs_categorical_covariate"
        type: string
        required: false
        multiple: true
        description: |
          Keys in adata.obs that correspond to categorical data. These covariates can be added in
          addition to the batch covariate and are also treated as nuisance factors
          (i.e., the model tries to minimize their effects on the latent space).
          Thus, these should not be used for biologically-relevant factors that you do _not_ want to correct for.
          Important: the order of the categorical covariates matters and should match the order of the covariates in the query data.
      - name: "--obs_continuous_covariate"
        type: string
        required: false
        multiple: true
        description: |
          Keys in adata.obs that correspond to continuous data. These covariates can be added in
          addition to the batch covariate and are also treated as nuisance factors
          (i.e., the model tries to minimize their effects on the latent space). Thus, these should not be
          used for biologically-relevant factors that you do _not_ want to correct for.
          Important: the order of the continuous covariates matters and should match the order of the covariates in the query data.
      - name: "--unlabeled_category"
        type: string
        default: "Unknown"
        description: | 
          Value in the --obs_batch_label field that indicates unlabeled observations
      - name: "--var_hvg"
        type: string
        required: false
        description: ".var column containing highly variable genes. If provided, scANVI classifier will be trained only on HVG."
      - name: "--var_gene_names"
        type: string
        required: false
        description: ".var column containing gene names. By default, use the index."

  - name: scVI and scANVI training options
    arguments:
      - name: "--early_stopping"
        required: false
        type: boolean
        description: "Whether to perform early stopping with respect to the validation set."
      - name: "--early_stopping_monitor"
        choices: ["elbo_validation", "reconstruction_loss_validation", "kl_local_validation"]
        default: "elbo_validation"
        type: string
        description: "Metric logged during validation set epoch."
      - name: "--early_stopping_patience"
        type: integer
        min: 1
        default: 45
        description: "Number of validation epochs with no improvement after which training will be stopped."
      - name: "--early_stopping_min_delta"
        min: 0
        type: double
        default: 0.0
        description: "Minimum change in the monitored quantity to qualify as an improvement, i.e. an absolute change of less than min_delta, will count as no improvement."
      - name: "--max_epochs"
        type: integer
        description: "Number of passes through the dataset, defaults to (20000 / number of cells) * 400 or 400; whichever is smallest."
        required: false
      - name: "--reduce_lr_on_plateau"
        description: "Whether to monitor validation loss and reduce learning rate when validation set `lr_scheduler_metric` plateaus."
        type: boolean
        default: True
      - name: "--lr_factor"
        description: "Factor to reduce learning rate."
        type: double
        default: 0.6
        min: 0
      - name: "--lr_patience"
        description: "Number of epochs with no improvement after which learning rate will be reduced."
        type: double
        default: 30
        min: 0

  - name: "Outputs"
    arguments:
      - name: "--output"
        type: file
        required: true
        direction: output
        description: The query data in .h5mu format with predicted labels predicted from the classifier trained on the reference.
        example: output.h5mu
      - name: "--output_compression"
        type: string
        description: |
          The compression format to be used on the output h5mu object.
        choices: ["gzip", "lzf"]
        required: false
        example: "gzip"
      - name: "--output_scvi_model"
        type: file
        required: false
        direction: output
        description: Path to the resulting scVI model that was trained on the reference dataset.
        example: path/to/scvi_model/
      - name: "--output_scanvi_model"
        type: file
        direction: output
        description: Path to the resulting scANVI model that was trained on the reference dataset.
        example: path/to/scanvi_model/
      
dependencies:
  - name: integrate/scvi
  - name: annotate/scanvi

resources:
  - type: nextflow_script
    path: main.nf
    entrypoint: run_wf

test_resources:
  - type: nextflow_script
    path: test.nf
    entrypoint: test_wf
  - path: /resources_test/annotation_test_data/TS_Blood_filtered.h5mu
  - path: /resources_test/pbmc_1k_protein_v3/pbmc_1k_protein_v3_mms.h5mu

runners:
  - type: nextflow