# Jupyter notebooks
.ipynb_checkpoints

# pycache
*__pycache__*
.nfs*

# R related
.Rhistory
*.Rproj
.Rproj.user

# Python virtual environments
.venv

# temporary files related
temp

# NextFlow
work/
.nextflow.log
flowchart.*
.nextflow*
out/ 

# Macos
.DS_Store

# viash related
.viash_log*
log.txt
/target/
check_results/
out/
output*
output_log/
resources_test
/viash_tools/

# vscode
.vscode/launch.json