name: "split_modalities"
namespace: "workflows/multiomics"
scope: "private"
description: "A pipeline to split a multimodal mudata files into several unimodal mudata files."
authors:
  - __merge__: /src/authors/dries_schaumont.yaml
    roles: [ author, maintainer ]
info:
  test_dependencies:
    - name: split_modalities_test
      namespace: test_workflows/multiomics
argument_groups:
  - name: Inputs
    arguments:
      - name: "--id"
        required: true
        type: string
        description: ID of the sample.
        example: foo
      - name: "--input"
        alternatives: [-i]
        description: Path to the sample.
        required: true
        example: input.h5mu
        type: file
  - name: "Outputs"
    arguments:
      - name: "--output"
        alternatives: ["-o"]
        type: file
        required: true
        direction: output
        example: "/path/to/output"
        description: Output directory containing multiple h5mu files.
      - name: "--output_types"
        type: file
        required: true
        direction: output
        example: types.csv
        description: A csv containing the base filename and modality type per output file.
dependencies:
  - name: dataflow/split_modalities
    alias: split_modalities_component
# test_dependencies:
#    - name: filter/remove_modality
resources:
  - type: nextflow_script
    path: main.nf
    entrypoint: run_wf
  - type: file
    path: /src/workflows/utils/
test_resources:
  - type: nextflow_script
    path: test.nf
    entrypoint: test_wf
  - path: /resources_test/pbmc_1k_protein_v3/pbmc_1k_protein_v3_filtered_feature_bc_matrix.h5mu
runners:
  - type: nextflow
