manifest {
  nextflowVersion = '!>=20.12.1-edge'
}

// ADAPT rootDir ACCORDING TO RELATIVE PATH WITHIN PROJECT
params{
  rootDir = "$projectDir/../.."
}
targetDir = "${params.rootDir}/target/nextflow"


includeConfig "$targetDir/bcl_demux/cellranger_mkfastq/nextflow.config"

docker {
   runOptions = "-v \$(realpath --no-symlinks ${params.rootDir}):\$(realpath --no-symlinks ${params.rootDir})"
}

process {
  errorStrategy = 'ignore'
  container = 'nextflow/bash:latest'
}
