functionality:
  name: "prot_multisample"
  namespace: "multiomics"
  description: "Processing unimodal multi-sample ADT data."
  info:
    image: /images/concepts/fig_workflow_multiomics_adt_multisample.svg
  authors:
    - __merge__: /src/authors/dries_schaumont.yaml
      roles: [ author ]
  argument_groups:
    - name: "Inputs"
      arguments:
        - name: "--id"
          required: true
          type: string
          description: ID of the concatenated file
          example: concatenated
        - name: "--input"
          required: true
          type: file
          description: Path to the samples.
          example: dataset.h5mu
    - name: "Outputs"
      arguments:
        - name: "--output"
          type: file
          required: true
          direction: output
          description: Destination path to the output.
          example: output.h5mu
    - name: "QC metrics calculation options"
      arguments:
        - name: "--top_n_vars"
          type: integer
          description: |
            Number of top vars to be used to calculate cumulative proportions.
            If not specified, proportions are not calculated. `--top_n_vars 20,50` finds
            cumulative proportion to the 20th and 50th most expressed vars.
          multiple: true
          multiple_sep: ','
          required: false
          default: [50, 100, 200, 500]
  resources:
    - type: nextflow_script
      path: main.nf
  test_resources:
    - type: nextflow_script
      path: main.nf
      entrypoint: test_wf
    - path: /resources_test/pbmc_1k_protein_v3