name: pad_tokenize
namespace: "scgpt"
description: |
  Tokenize and pad a batch of data for scGPT integration zero-shot inference or fine-tuning.
authors:
  - __merge__: /src/authors/dorien_roosen.yaml
    roles: [ maintainer, author ]
  - __merge__: /src/authors/elizabeth_mlynarski.yaml
    roles: [ author ]
  - __merge__: /src/authors/weiwei_schultz.yaml
    roles: [ contributor ]

argument_groups:
  - name: Inputs
    arguments:
      - name: "--input"
        type: file
        direction: input
        required: true
        example: input.h5mu
        description: |
          The input h5mu file of pre-processed data.
      - name: "--modality"
        type: string
        default: "rna"
        required: false
      - name: "--model_vocab"
        type: file
        direction: input
        required: true
        example: vocab.json
        description: |
          Path to model vocabulary file.
      - name: "--var_gene_names"
        type: string
        required: false
        description: |
          The name of the .var column containing gene names. When no gene_name_layer is provided, the .var index will be used.
      - name: "--input_obsm_binned_counts"
        type: string
        default: "binned_counts"
        required: false
        description: |
          The name of the .obsm field containing the binned counts to be padded and tokenized.

  - name: Outputs
    arguments:
      - name: "--output"
        type: file
        required: true
        description: |
          The output h5mu file containing obsm arrays for gene tokens, tokenized data and padding mask.
        direction: output
        example: output.h5mu
      - name: "--output_compression"
        type: string
        example: "gzip"
        choices: ["gzip", "lzf"]
        description: |
          The compression type for the output file.
      - name: "--obsm_gene_tokens"
        type: string
        default: "gene_id_tokens"
        description: |
          The key of the .obsm array containing the gene token ids
        example: values.pt
      - name: "--obsm_tokenized_values"
        type: string
        default: values_tokenized
        description: |
          The key of the .obsm array containing the count values of the tokenized genes
      - name: "--obsm_padding_mask"
        type: string
        default: padding_mask
        description: |
          The key of the .obsm array containing the padding mask.

  - name: Arguments
    arguments:
      - name: "--pad_token"
        type: string
        default: "<pad>"
        required: false
        description: |
          Token used for padding.
      - name: "--pad_value"
        type: integer
        default: -2
        required: false
        description: |
          The value of the padding token.
      - name: "--max_seq_len"
        type: integer
        description: |
          The maximum sequence length of the tokenized data.

resources:
  - type: python_script
    path: script.py
  - path: /src/utils/setup_logger.py
test_resources:
  - type: python_script
    path: test.py
  - path: /resources_test/scgpt/

engines:
  - type: docker
    image: nvcr.io/nvidia/pytorch:23.09-py3
    setup:
      - type: python
        __merge__: [ /src/base/requirements/anndata_mudata.yaml, /src/base/requirements/scanpy.yaml ]
      - type: python
        packages:
          - scgpt==0.2.1
          - ipython~=8.5.0
    __merge__: [ /src/base/requirements/python_test_setup.yaml, .]
runners:
  - type: executable
  - type: nextflow
