functionality:
  name: "qc"
  namespace: "workflows/qc"
  version: "integration_build"
  authors:
  - name: "Dries Schaumont"
    roles:
    - "author"
    - "maintainer"
    info:
      role: "Core Team Member"
      links:
        email: "dries@data-intuitive.com"
        github: "DriesSchaumont"
        orcid: "0000-0002-4389-0440"
        linkedin: "dries-schaumont"
      organizations:
      - name: "Data Intuitive"
        href: "https://www.data-intuitive.com"
        role: "Data Scientist"
  argument_groups:
  - name: "Inputs"
    arguments:
    - type: "string"
      name: "--id"
      description: "ID of the sample."
      info: null
      example:
      - "foo"
      required: true
      direction: "input"
      multiple: false
      multiple_sep: ":"
      dest: "par"
    - type: "file"
      name: "--input"
      alternatives:
      - "-i"
      description: "Path to the sample."
      info: null
      example:
      - "input.h5mu"
      must_exist: true
      create_parent: true
      required: true
      direction: "input"
      multiple: false
      multiple_sep: ":"
      dest: "par"
    - type: "string"
      name: "--modality"
      description: "Which modality to process."
      info: null
      default:
      - "rna"
      required: false
      direction: "input"
      multiple: false
      multiple_sep: ":"
      dest: "par"
    - type: "string"
      name: "--layer"
      description: "Layer to calculate qc metrics for."
      info: null
      example:
      - "raw_counts"
      required: false
      direction: "input"
      multiple: false
      multiple_sep: ":"
      dest: "par"
  - name: "Mitochondrial Gene Detection"
    arguments:
    - type: "string"
      name: "--var_name_mitochondrial_genes"
      description: "In which .var slot to store a boolean array corresponding the\
        \ mitochondrial genes.\n"
      info: null
      required: false
      direction: "input"
      multiple: false
      multiple_sep: ":"
      dest: "par"
    - type: "string"
      name: "--obs_name_mitochondrial_fraction"
      description: ".Obs slot to store the fraction of reads found to be mitochondrial.\
        \ Defaults to 'fraction_' suffixed by the value of --var_name_mitochondrial_genes\n"
      info: null
      required: false
      direction: "input"
      multiple: false
      multiple_sep: ":"
      dest: "par"
    - type: "string"
      name: "--var_gene_names"
      description: ".var column name to be used to detect mitochondrial genes instead\
        \ of .var_names (default if not set).\nGene names matching with the regex\
        \ value from --mitochondrial_gene_regex will be identified\nas a mitochondrial\
        \ gene.\n"
      info: null
      example:
      - "gene_symbol"
      required: false
      direction: "input"
      multiple: false
      multiple_sep: ":"
      dest: "par"
    - type: "string"
      name: "--mitochondrial_gene_regex"
      description: "Regex string that identifies mitochondrial genes from --var_gene_names.\n\
        By default will detect human and mouse mitochondrial genes from a gene symbol.\n"
      info: null
      default:
      - "^[mM][tT]-"
      required: false
      direction: "input"
      multiple: false
      multiple_sep: ":"
      dest: "par"
  - name: "QC metrics calculation options"
    arguments:
    - type: "string"
      name: "--var_qc_metrics"
      description: "Keys to select a boolean (containing only True or False) column\
        \ from .var.\nFor each cell, calculate the proportion of total values for\
        \ genes which are labeled 'True', \ncompared to the total sum of the values\
        \ for all genes. Defaults to the value from\n--var_name_mitochondrial_genes.\n"
      info: null
      example:
      - "ercc,highly_variable"
      required: false
      direction: "input"
      multiple: true
      multiple_sep: ";"
      dest: "par"
    - type: "integer"
      name: "--top_n_vars"
      description: "Number of top vars to be used to calculate cumulative proportions.\n\
        If not specified, proportions are not calculated. `--top_n_vars 20,50` finds\n\
        cumulative proportion to the 20th and 50th most expressed vars.\n"
      info: null
      default:
      - 50
      - 100
      - 200
      - 500
      required: false
      direction: "input"
      multiple: true
      multiple_sep: ";"
      dest: "par"
    - type: "string"
      name: "--output_obs_num_nonzero_vars"
      description: "Name of column in .obs describing, for each observation, the number\
        \ of stored values\n(including explicit zeroes). In other words, the name\
        \ of the column that counts\nfor each row the number of columns that contain\
        \ data.\n"
      info: null
      default:
      - "num_nonzero_vars"
      required: false
      direction: "input"
      multiple: false
      multiple_sep: ":"
      dest: "par"
    - type: "string"
      name: "--output_obs_total_counts_vars"
      description: "Name of the column for .obs describing, for each observation (row),\n\
        the sum of the stored values in the columns.\n"
      info: null
      default:
      - "total_counts"
      required: false
      direction: "input"
      multiple: false
      multiple_sep: ":"
      dest: "par"
    - type: "string"
      name: "--output_var_num_nonzero_obs"
      description: "Name of column describing, for each feature, the number of stored\
        \ values\n(including explicit zeroes). In other words, the name of the column\
        \ that counts\nfor each column the number of rows that contain data.\n"
      info: null
      default:
      - "num_nonzero_obs"
      required: false
      direction: "input"
      multiple: false
      multiple_sep: ":"
      dest: "par"
    - type: "string"
      name: "--output_var_total_counts_obs"
      description: "Name of the column in .var describing, for each feature (column),\n\
        the sum of the stored values in the rows.\n"
      info: null
      default:
      - "total_counts"
      required: false
      direction: "input"
      multiple: false
      multiple_sep: ":"
      dest: "par"
    - type: "string"
      name: "--output_var_obs_mean"
      description: "Name of the column in .obs providing the mean of the values in\
        \ each row.\n"
      info: null
      default:
      - "obs_mean"
      required: false
      direction: "input"
      multiple: false
      multiple_sep: ":"
      dest: "par"
    - type: "string"
      name: "--output_var_pct_dropout"
      description: "Name of the column in .obs providing for each feature the percentage\
        \ of\nobservations the feature does not appear on (i.e. is missing). Same\
        \ as `--output_var_num_nonzero_obs`\nbut percentage based.\n"
      info: null
      default:
      - "pct_dropout"
      required: false
      direction: "input"
      multiple: false
      multiple_sep: ":"
      dest: "par"
  - name: "Outputs"
    arguments:
    - type: "file"
      name: "--output"
      description: "Destination path to the output."
      info: null
      example:
      - "output.h5mu"
      must_exist: true
      create_parent: true
      required: true
      direction: "output"
      multiple: false
      multiple_sep: ":"
      dest: "par"
  resources:
  - type: "nextflow_script"
    path: "main.nf"
    is_executable: true
    entrypoint: "run_wf"
  - type: "file"
    path: "src/workflows/utils/"
  - type: "file"
    path: "./src/workflows/utils/labels.config"
    dest: "nextflow_labels.config"
  description: "A pipeline to add basic qc statistics to a MuData "
  test_resources:
  - type: "nextflow_script"
    path: "test.nf"
    is_executable: true
    entrypoint: "test_wf"
  - type: "file"
    path: "resources_test/concat_test_data"
  - type: "file"
    path: "resources_test/pbmc_1k_protein_v3"
  - type: "file"
    path: "src/base/openpipelinetestutils"
    dest: "openpipelinetestutils"
  info: null
  status: "enabled"
  requirements:
    commands:
    - "ps"
  dependencies:
  - name: "transfer/publish"
    repository:
      type: "local"
      localPath: ""
    foundConfigPath: "/home/runner/work/openpipeline/openpipeline/src/transfer/publish/config.vsh.yaml"
    configInfo:
      functionalityName: "publish"
      git_tag: ""
      git_remote: "https://github.com/openpipelines-bio/openpipeline"
      viash_version: "0.8.5"
      config: "/home/runner/work/openpipeline/openpipeline/src/transfer/publish/config.vsh.yaml"
      functionalityNamespace: "transfer"
      output: ""
      platform: ""
      git_commit: "07001be1b0433f740a61c6ad9a60e95f890ed1f9"
      executable: "/nextflow/transfer/publish/main.nf"
    writtenPath: "/home/runner/work/openpipeline/openpipeline/target/nextflow/transfer/publish"
  - name: "metadata/grep_annotation_column"
    repository:
      type: "local"
      localPath: ""
    foundConfigPath: "/home/runner/work/openpipeline/openpipeline/src/metadata/grep_annotation_column/config.vsh.yaml"
    configInfo:
      functionalityName: "grep_annotation_column"
      git_tag: ""
      git_remote: "https://github.com/openpipelines-bio/openpipeline"
      viash_version: "0.8.5"
      config: "/home/runner/work/openpipeline/openpipeline/src/metadata/grep_annotation_column/config.vsh.yaml"
      functionalityNamespace: "metadata"
      output: ""
      platform: ""
      git_commit: "07001be1b0433f740a61c6ad9a60e95f890ed1f9"
      executable: "/nextflow/metadata/grep_annotation_column/main.nf"
    writtenPath: "/home/runner/work/openpipeline/openpipeline/target/nextflow/metadata/grep_annotation_column"
  - name: "qc/calculate_qc_metrics"
    repository:
      type: "local"
      localPath: ""
    foundConfigPath: "/home/runner/work/openpipeline/openpipeline/src/qc/calculate_qc_metrics/config.vsh.yaml"
    configInfo:
      functionalityName: "calculate_qc_metrics"
      git_tag: ""
      git_remote: "https://github.com/openpipelines-bio/openpipeline"
      viash_version: "0.8.5"
      config: "/home/runner/work/openpipeline/openpipeline/src/qc/calculate_qc_metrics/config.vsh.yaml"
      functionalityNamespace: "qc"
      output: ""
      platform: ""
      git_commit: "07001be1b0433f740a61c6ad9a60e95f890ed1f9"
      executable: "/nextflow/qc/calculate_qc_metrics/main.nf"
    writtenPath: "/home/runner/work/openpipeline/openpipeline/target/nextflow/qc/calculate_qc_metrics"
  set_wd_to_resources_dir: false
platforms:
- type: "nextflow"
  id: "nextflow"
  directives:
    tag: "$id"
  auto:
    simplifyInput: true
    simplifyOutput: false
    transcript: false
    publish: false
  config:
    labels:
      mem1gb: "memory = 1.GB"
      mem2gb: "memory = 2.GB"
      mem4gb: "memory = 4.GB"
      mem8gb: "memory = 8.GB"
      mem16gb: "memory = 16.GB"
      mem32gb: "memory = 32.GB"
      mem64gb: "memory = 64.GB"
      mem128gb: "memory = 128.GB"
      mem256gb: "memory = 256.GB"
      mem512gb: "memory = 512.GB"
      mem1tb: "memory = 1.TB"
      mem2tb: "memory = 2.TB"
      mem4tb: "memory = 4.TB"
      mem8tb: "memory = 8.TB"
      mem16tb: "memory = 16.TB"
      mem32tb: "memory = 32.TB"
      mem64tb: "memory = 64.TB"
      mem128tb: "memory = 128.TB"
      mem256tb: "memory = 256.TB"
      mem512tb: "memory = 512.TB"
      cpu1: "cpus = 1"
      cpu2: "cpus = 2"
      cpu5: "cpus = 5"
      cpu10: "cpus = 10"
      cpu20: "cpus = 20"
      cpu50: "cpus = 50"
      cpu100: "cpus = 100"
      cpu200: "cpus = 200"
      cpu500: "cpus = 500"
      cpu1000: "cpus = 1000"
    script:
    - "includeConfig(\"nextflow_labels.config\")"
  debug: false
  container: "docker"
info:
  config: "/home/runner/work/openpipeline/openpipeline/src/workflows/qc/qc/config.vsh.yaml"
  platform: "nextflow"
  output: "/home/runner/work/openpipeline/openpipeline/target/nextflow/workflows/qc/qc"
  executable: "/home/runner/work/openpipeline/openpipeline/target/nextflow/workflows/qc/qc/main.nf"
  viash_version: "0.8.5"
  git_commit: "07001be1b0433f740a61c6ad9a60e95f890ed1f9"
  git_remote: "https://github.com/openpipelines-bio/openpipeline"
