functionality:
  name: "totalvi_leiden"
  namespace: "workflows/integration"
  version: "integration_build"
  authors:
  - name: "Dries Schaumont"
    roles:
    - "author"
    info:
      role: "Core Team Member"
      links:
        email: "dries@data-intuitive.com"
        github: "DriesSchaumont"
        orcid: "0000-0002-4389-0440"
        linkedin: "dries-schaumont"
      organizations:
      - name: "Data Intuitive"
        href: "https://www.data-intuitive.com"
        role: "Data Scientist"
  argument_groups:
  - name: "Inputs"
    arguments:
    - type: "string"
      name: "--id"
      description: "ID of the sample."
      info: null
      example:
      - "foo"
      required: true
      direction: "input"
      multiple: false
      multiple_sep: ":"
      dest: "par"
    - type: "file"
      name: "--input"
      description: "Path to the sample."
      info: null
      example:
      - "dataset.h5mu"
      must_exist: true
      create_parent: true
      required: true
      direction: "input"
      multiple: false
      multiple_sep: ":"
      dest: "par"
    - type: "string"
      name: "--layer"
      description: "use specified layer for expression values instead of the .X object\
        \ from the modality."
      info: null
      default:
      - "log_normalized"
      required: false
      direction: "input"
      multiple: false
      multiple_sep: ":"
      dest: "par"
    - type: "string"
      name: "--modality"
      description: "Which modality to process."
      info: null
      default:
      - "rna"
      required: false
      direction: "input"
      multiple: false
      multiple_sep: ":"
      dest: "par"
    - type: "string"
      name: "--prot_modality"
      description: "Which modality to process."
      info: null
      default:
      - "prot"
      required: false
      direction: "input"
      multiple: false
      multiple_sep: ":"
      dest: "par"
    - type: "file"
      name: "--reference"
      alternatives:
      - "-r"
      description: "Input h5mu file with reference data to train the TOTALVI model."
      info: null
      must_exist: true
      create_parent: true
      required: true
      direction: "input"
      multiple: false
      multiple_sep: ":"
      dest: "par"
  - name: "Outputs"
    arguments:
    - type: "file"
      name: "--output"
      description: "Destination path to the output."
      info: null
      example:
      - "output.h5mu"
      must_exist: true
      create_parent: true
      required: true
      direction: "output"
      multiple: false
      multiple_sep: ":"
      dest: "par"
    - type: "file"
      name: "--reference_model_path"
      description: "Directory with the reference model. If not exists, trained model\
        \ will be saved there"
      info: null
      default:
      - "totalvi_model_reference"
      must_exist: true
      create_parent: true
      required: false
      direction: "output"
      multiple: false
      multiple_sep: ":"
      dest: "par"
    - type: "file"
      name: "--query_model_path"
      description: "Directory, where the query model will be saved"
      info: null
      default:
      - "totalvi_model_query"
      must_exist: true
      create_parent: true
      required: false
      direction: "output"
      multiple: false
      multiple_sep: ":"
      dest: "par"
  - name: "General TotalVI Options"
    arguments:
    - type: "string"
      name: "--obs_batch"
      description: ".Obs column name discriminating between your batches."
      info: null
      default:
      - "sample_id"
      required: false
      direction: "input"
      multiple: false
      multiple_sep: ":"
      dest: "par"
    - type: "integer"
      name: "--max_epochs"
      description: "Number of passes through the dataset"
      info: null
      default:
      - 400
      required: false
      direction: "input"
      multiple: false
      multiple_sep: ":"
      dest: "par"
    - type: "integer"
      name: "--max_query_epochs"
      description: "Number of passes through the dataset, when fine-tuning model for\
        \ query"
      info: null
      default:
      - 200
      required: false
      direction: "input"
      multiple: false
      multiple_sep: ":"
      dest: "par"
    - type: "double"
      name: "--weight_decay"
      description: "Weight decay, when fine-tuning model for query"
      info: null
      default:
      - 0.0
      required: false
      direction: "input"
      multiple: false
      multiple_sep: ":"
      dest: "par"
    - type: "boolean_true"
      name: "--force_retrain"
      description: "If true, retrain the model and save it to reference_model_path"
      info: null
      direction: "input"
      dest: "par"
    - type: "string"
      name: "--var_input"
      description: "Boolean .var column to subset data with (e.g. containing highly\
        \ variable genes). By default, do not subset genes."
      info: null
      required: false
      direction: "input"
      multiple: false
      multiple_sep: ":"
      dest: "par"
  - name: "TotalVI integration options RNA"
    arguments:
    - type: "string"
      name: "--rna_reference_modality"
      info: null
      default:
      - "rna"
      required: false
      direction: "input"
      multiple: false
      multiple_sep: ":"
      dest: "par"
    - type: "string"
      name: "--rna_obsm_output"
      description: "In which .obsm slot to store the normalized RNA from TOTALVI."
      info: null
      default:
      - "X_totalvi"
      required: false
      direction: "input"
      multiple: false
      multiple_sep: ":"
      dest: "par"
  - name: "TotalVI integration options ADT"
    arguments:
    - type: "string"
      name: "--prot_reference_modality"
      description: "Name of the modality containing proteins in the reference"
      info: null
      default:
      - "prot"
      required: false
      direction: "input"
      multiple: false
      multiple_sep: ":"
      dest: "par"
    - type: "string"
      name: "--prot_obsm_output"
      description: "In which .obsm slot to store the normalized protein data from\
        \ TOTALVI."
      info: null
      default:
      - "X_totalvi"
      required: false
      direction: "input"
      multiple: false
      multiple_sep: ":"
      dest: "par"
  - name: "Neighbour calculation RNA"
    arguments:
    - type: "string"
      name: "--rna_uns_neighbors"
      description: "In which .uns slot to store various neighbor output objects."
      info: null
      default:
      - "totalvi_integration_neighbors"
      required: false
      direction: "input"
      multiple: false
      multiple_sep: ":"
      dest: "par"
    - type: "string"
      name: "--rna_obsp_neighbor_distances"
      description: "In which .obsp slot to store the distance matrix between the resulting\
        \ neighbors."
      info: null
      default:
      - "totalvi_integration_distances"
      required: false
      direction: "input"
      multiple: false
      multiple_sep: ":"
      dest: "par"
    - type: "string"
      name: "--rna_obsp_neighbor_connectivities"
      description: "In which .obsp slot to store the connectivities matrix between\
        \ the resulting neighbors."
      info: null
      default:
      - "totalvi_integration_connectivities"
      required: false
      direction: "input"
      multiple: false
      multiple_sep: ":"
      dest: "par"
  - name: "Neighbour calculation ADT"
    arguments:
    - type: "string"
      name: "--prot_uns_neighbors"
      description: "In which .uns slot to store various neighbor output objects."
      info: null
      default:
      - "totalvi_integration_neighbors"
      required: false
      direction: "input"
      multiple: false
      multiple_sep: ":"
      dest: "par"
    - type: "string"
      name: "--prot_obsp_neighbor_distances"
      description: "In which .obsp slot to store the distance matrix between the resulting\
        \ neighbors."
      info: null
      default:
      - "totalvi_integration_distances"
      required: false
      direction: "input"
      multiple: false
      multiple_sep: ":"
      dest: "par"
    - type: "string"
      name: "--prot_obsp_neighbor_connectivities"
      description: "In which .obsp slot to store the connectivities matrix between\
        \ the resulting neighbors."
      info: null
      default:
      - "totalvi_integration_connectivities"
      required: false
      direction: "input"
      multiple: false
      multiple_sep: ":"
      dest: "par"
  - name: "Clustering options RNA"
    arguments:
    - type: "string"
      name: "--rna_obs_cluster"
      description: "Prefix for the .obs keys under which to add the cluster labels.\
        \ Newly created columns in .obs will \nbe created from the specified value\
        \ for '--obs_cluster' suffixed with an underscore and one of the resolutions\n\
        resolutions specified in '--leiden_resolution'.\n"
      info: null
      default:
      - "totalvi_integration_leiden"
      required: false
      direction: "input"
      multiple: false
      multiple_sep: ":"
      dest: "par"
    - type: "double"
      name: "--rna_leiden_resolution"
      description: "Control the coarseness of the clustering. Higher values lead to\
        \ more clusters."
      info: null
      default:
      - 1.0
      required: false
      direction: "input"
      multiple: true
      multiple_sep: ";"
      dest: "par"
  - name: "Clustering options ADT"
    arguments:
    - type: "string"
      name: "--prot_obs_cluster"
      description: "Prefix for the .obs keys under which to add the cluster labels.\
        \ Newly created columns in .obs will \nbe created from the specified value\
        \ for '--obs_cluster' suffixed with an underscore and one of the resolutions\n\
        resolutions specified in '--leiden_resolution'.\n"
      info: null
      default:
      - "totalvi_integration_leiden"
      required: false
      direction: "input"
      multiple: false
      multiple_sep: ":"
      dest: "par"
    - type: "double"
      name: "--prot_leiden_resolution"
      description: "Control the coarseness of the clustering. Higher values lead to\
        \ more clusters."
      info: null
      default:
      - 1.0
      required: false
      direction: "input"
      multiple: true
      multiple_sep: ";"
      dest: "par"
  - name: "Umap options"
    arguments:
    - type: "string"
      name: "--obsm_umap"
      description: "In which .obsm slot to store the resulting UMAP embedding."
      info: null
      default:
      - "X_totalvi_umap"
      required: false
      direction: "input"
      multiple: false
      multiple_sep: ":"
      dest: "par"
  resources:
  - type: "nextflow_script"
    path: "main.nf"
    is_executable: true
    entrypoint: "run_wf"
  - type: "file"
    path: "src/workflows/utils/"
  - type: "file"
    path: "./src/workflows/utils/labels.config"
    dest: "nextflow_labels.config"
  description: "Run totalVI integration followed by neighbour calculations, leiden\
    \ clustering and run umap on the result."
  test_resources:
  - type: "nextflow_script"
    path: "test.nf"
    is_executable: true
    entrypoint: "test_wf"
  - type: "file"
    path: "resources_test/pbmc_1k_protein_v3/pbmc_1k_protein_v3_mms.h5mu"
  - type: "file"
    path: "src/base/openpipelinetestutils"
    dest: "openpipelinetestutils"
  info: null
  status: "enabled"
  requirements:
    commands:
    - "ps"
  dependencies:
  - name: "cluster/leiden"
    repository:
      type: "local"
      localPath: ""
    foundConfigPath: "/home/runner/work/openpipeline/openpipeline/src/cluster/leiden/config.vsh.yaml"
    configInfo:
      functionalityName: "leiden"
      git_tag: ""
      git_remote: "https://github.com/openpipelines-bio/openpipeline"
      viash_version: "0.8.5"
      config: "/home/runner/work/openpipeline/openpipeline/src/cluster/leiden/config.vsh.yaml"
      functionalityNamespace: "cluster"
      output: ""
      platform: ""
      git_commit: "640bc264f084997a174441816c3d18a1cf3e609e"
      executable: "/nextflow/cluster/leiden/main.nf"
    writtenPath: "/home/runner/work/openpipeline/openpipeline/target/nextflow/cluster/leiden"
  - name: "metadata/move_obsm_to_obs"
    repository:
      type: "local"
      localPath: ""
    foundConfigPath: "/home/runner/work/openpipeline/openpipeline/src/metadata/move_obsm_to_obs/config.vsh.yaml"
    configInfo:
      functionalityName: "move_obsm_to_obs"
      git_tag: ""
      git_remote: "https://github.com/openpipelines-bio/openpipeline"
      viash_version: "0.8.5"
      config: "/home/runner/work/openpipeline/openpipeline/src/metadata/move_obsm_to_obs/config.vsh.yaml"
      functionalityNamespace: "metadata"
      output: ""
      platform: ""
      git_commit: "640bc264f084997a174441816c3d18a1cf3e609e"
      executable: "/nextflow/metadata/move_obsm_to_obs/main.nf"
    writtenPath: "/home/runner/work/openpipeline/openpipeline/target/nextflow/metadata/move_obsm_to_obs"
  - name: "integrate/totalvi"
    repository:
      type: "local"
      localPath: ""
    foundConfigPath: "/home/runner/work/openpipeline/openpipeline/src/integrate/totalvi/config.vsh.yaml"
    configInfo:
      functionalityName: "totalvi"
      git_tag: ""
      git_remote: "https://github.com/openpipelines-bio/openpipeline"
      viash_version: "0.8.5"
      config: "/home/runner/work/openpipeline/openpipeline/src/integrate/totalvi/config.vsh.yaml"
      functionalityNamespace: "integrate"
      output: ""
      platform: ""
      git_commit: "640bc264f084997a174441816c3d18a1cf3e609e"
      executable: "/nextflow/integrate/totalvi/main.nf"
    writtenPath: "/home/runner/work/openpipeline/openpipeline/target/nextflow/integrate/totalvi"
  - name: "dimred/umap"
    repository:
      type: "local"
      localPath: ""
    foundConfigPath: "/home/runner/work/openpipeline/openpipeline/src/dimred/umap/config.vsh.yaml"
    configInfo:
      functionalityName: "umap"
      git_tag: ""
      git_remote: "https://github.com/openpipelines-bio/openpipeline"
      viash_version: "0.8.5"
      config: "/home/runner/work/openpipeline/openpipeline/src/dimred/umap/config.vsh.yaml"
      functionalityNamespace: "dimred"
      output: ""
      platform: ""
      git_commit: "640bc264f084997a174441816c3d18a1cf3e609e"
      executable: "/nextflow/dimred/umap/main.nf"
    writtenPath: "/home/runner/work/openpipeline/openpipeline/target/nextflow/dimred/umap"
  - name: "neighbors/find_neighbors"
    repository:
      type: "local"
      localPath: ""
    foundConfigPath: "/home/runner/work/openpipeline/openpipeline/src/neighbors/find_neighbors/config.vsh.yaml"
    configInfo:
      functionalityName: "find_neighbors"
      git_tag: ""
      git_remote: "https://github.com/openpipelines-bio/openpipeline"
      viash_version: "0.8.5"
      config: "/home/runner/work/openpipeline/openpipeline/src/neighbors/find_neighbors/config.vsh.yaml"
      functionalityNamespace: "neighbors"
      output: ""
      platform: ""
      git_commit: "640bc264f084997a174441816c3d18a1cf3e609e"
      executable: "/nextflow/neighbors/find_neighbors/main.nf"
    writtenPath: "/home/runner/work/openpipeline/openpipeline/target/nextflow/neighbors/find_neighbors"
  - name: "transfer/publish"
    repository:
      type: "local"
      localPath: ""
    foundConfigPath: "/home/runner/work/openpipeline/openpipeline/src/transfer/publish/config.vsh.yaml"
    configInfo:
      functionalityName: "publish"
      git_tag: ""
      git_remote: "https://github.com/openpipelines-bio/openpipeline"
      viash_version: "0.8.5"
      config: "/home/runner/work/openpipeline/openpipeline/src/transfer/publish/config.vsh.yaml"
      functionalityNamespace: "transfer"
      output: ""
      platform: ""
      git_commit: "640bc264f084997a174441816c3d18a1cf3e609e"
      executable: "/nextflow/transfer/publish/main.nf"
    writtenPath: "/home/runner/work/openpipeline/openpipeline/target/nextflow/transfer/publish"
  set_wd_to_resources_dir: false
platforms:
- type: "nextflow"
  id: "nextflow"
  directives:
    tag: "$id"
  auto:
    simplifyInput: true
    simplifyOutput: false
    transcript: false
    publish: false
  config:
    labels:
      mem1gb: "memory = 1.GB"
      mem2gb: "memory = 2.GB"
      mem4gb: "memory = 4.GB"
      mem8gb: "memory = 8.GB"
      mem16gb: "memory = 16.GB"
      mem32gb: "memory = 32.GB"
      mem64gb: "memory = 64.GB"
      mem128gb: "memory = 128.GB"
      mem256gb: "memory = 256.GB"
      mem512gb: "memory = 512.GB"
      mem1tb: "memory = 1.TB"
      mem2tb: "memory = 2.TB"
      mem4tb: "memory = 4.TB"
      mem8tb: "memory = 8.TB"
      mem16tb: "memory = 16.TB"
      mem32tb: "memory = 32.TB"
      mem64tb: "memory = 64.TB"
      mem128tb: "memory = 128.TB"
      mem256tb: "memory = 256.TB"
      mem512tb: "memory = 512.TB"
      cpu1: "cpus = 1"
      cpu2: "cpus = 2"
      cpu5: "cpus = 5"
      cpu10: "cpus = 10"
      cpu20: "cpus = 20"
      cpu50: "cpus = 50"
      cpu100: "cpus = 100"
      cpu200: "cpus = 200"
      cpu500: "cpus = 500"
      cpu1000: "cpus = 1000"
    script:
    - "includeConfig(\"nextflow_labels.config\")"
  debug: false
  container: "docker"
info:
  config: "/home/runner/work/openpipeline/openpipeline/src/workflows/integration/totalvi_leiden/config.vsh.yaml"
  platform: "nextflow"
  output: "/home/runner/work/openpipeline/openpipeline/target/nextflow/workflows/integration/totalvi_leiden"
  executable: "/home/runner/work/openpipeline/openpipeline/target/nextflow/workflows/integration/totalvi_leiden/main.nf"
  viash_version: "0.8.5"
  git_commit: "640bc264f084997a174441816c3d18a1cf3e609e"
  git_remote: "https://github.com/openpipelines-bio/openpipeline"
