name: "totalvi_leiden"
namespace: "workflows/integration"
version: "main_build"
authors:
- name: "Dorien Roosen"
  roles:
  - "author"
  info:
    role: "Core Team Member"
    links:
      email: "dorien@data-intuitive.com"
      github: "dorien-er"
      linkedin: "dorien-roosen"
    organizations:
    - name: "Data Intuitive"
      href: "https://www.data-intuitive.com"
      role: "Data Scientist"
argument_groups:
- name: "Inputs"
  arguments:
  - type: "string"
    name: "--id"
    description: "ID of the sample."
    info: null
    example:
    - "foo"
    required: true
    direction: "input"
    multiple: false
    multiple_sep: ";"
  - type: "file"
    name: "--input"
    description: "Input h5mu file to be integrated."
    info: null
    example:
    - "input.h5mu"
    must_exist: true
    create_parent: true
    required: true
    direction: "input"
    multiple: false
    multiple_sep: ";"
  - type: "string"
    name: "--rna_modality"
    info: null
    default:
    - "rna"
    required: false
    direction: "input"
    multiple: false
    multiple_sep: ";"
  - type: "string"
    name: "--prot_modality"
    description: "Name of the modality in the input (query) h5mu file containing protein\
      \ data"
    info: null
    default:
    - "prot"
    required: false
    direction: "input"
    multiple: false
    multiple_sep: ";"
  - type: "string"
    name: "--input_layer_rna"
    description: "Input layer to use from the rna modality for gene counts. If None,\
      \ X is used"
    info: null
    required: false
    direction: "input"
    multiple: false
    multiple_sep: ";"
  - type: "string"
    name: "--input_layer_protein"
    description: "Input layer to use from the protein modality for protein counts.\
      \ If None, X is used"
    info: null
    required: false
    direction: "input"
    multiple: false
    multiple_sep: ";"
  - type: "string"
    name: "--obs_batch"
    description: "Column name discriminating between your batches."
    info: null
    default:
    - "sample_id"
    required: false
    direction: "input"
    multiple: false
    multiple_sep: ";"
  - type: "string"
    name: "--obs_size_factor"
    description: "Key in adata.obs for size factor information. Instead of using library\
      \ size as a size factor,\nthe provided size factor column will be used as offset\
      \ in the mean of the likelihood.\nAssumed to be on linear scale.\n"
    info: null
    required: false
    direction: "input"
    multiple: false
    multiple_sep: ";"
  - type: "string"
    name: "--obs_categorical_covariate"
    description: "Keys in adata.obs that correspond to categorical data. These covariates\
      \ can be added in\naddition to the batch covariate and are also treated as nuisance\
      \ factors\n(i.e., the model tries to minimize their effects on the latent space).\n\
      Thus, these should not be used for biologically-relevant factors that you do\
      \ _not_ want to correct for.\n"
    info: null
    required: false
    direction: "input"
    multiple: true
    multiple_sep: ";"
  - type: "string"
    name: "--obs_continuous_covariate"
    description: "Keys in adata.obs that correspond to continuous data. These covariates\
      \ can be added in\naddition to the batch covariate and are also treated as nuisance\
      \ factors\n(i.e., the model tries to minimize their effects on the latent space).\
      \ Thus, these should not be\nused for biologically-relevant factors that you\
      \ do _not_ want to correct for.\n"
    info: null
    required: false
    direction: "input"
    multiple: true
    multiple_sep: ";"
  - type: "string"
    name: "--var_gene_names"
    description: ".var column in the rna modality containing gene names. By default,\
      \ use mod['rna'].var_names."
    info: null
    required: false
    direction: "input"
    multiple: false
    multiple_sep: ";"
  - type: "string"
    name: "--var_protein_names"
    description: ".var column in the protein modality containing protein names. By\
      \ default, use mod['prot'].var_names."
    info: null
    required: false
    direction: "input"
    multiple: false
    multiple_sep: ";"
  - type: "string"
    name: "--var_input"
    description: ".var column containing highly variable genes. By default, do not\
      \ subset genes."
    info: null
    required: false
    direction: "input"
    multiple: false
    multiple_sep: ";"
- name: "Outputs"
  arguments:
  - type: "file"
    name: "--output"
    description: "Destination path to the output."
    info: null
    example:
    - "output.h5mu"
    must_exist: true
    create_parent: true
    required: true
    direction: "output"
    multiple: false
    multiple_sep: ";"
  - type: "file"
    name: "--output_model"
    description: "Directory where the trained reference model will be stored."
    info: null
    default:
    - "totalvi_model_reference"
    must_exist: true
    create_parent: true
    required: false
    direction: "output"
    multiple: false
    multiple_sep: ";"
- name: "TotalVI Training Options"
  arguments:
  - type: "integer"
    name: "--max_epochs"
    description: "Number of passes through the dataset, defaults to (20000 / number\
      \ of cells) * 400 or 400; whichever is smallest."
    info: null
    required: false
    direction: "input"
    multiple: false
    multiple_sep: ";"
  - type: "boolean"
    name: "--early_stopping"
    description: "Whether to perform early stopping with respect to the validation\
      \ set."
    info: null
    default:
    - true
    required: false
    direction: "input"
    multiple: false
    multiple_sep: ";"
- name: "TotalVI Integration Options"
  arguments:
  - type: "string"
    name: "--obsm_integrated"
    description: "In which .obsm slot to store the resulting integrated embedding."
    info: null
    default:
    - "X_integrated_totalvi"
    required: false
    direction: "input"
    multiple: false
    multiple_sep: ";"
  - type: "string"
    name: "--obsm_normalized_rna_output"
    description: "In which .obsm slot to store the normalized RNA data from TOTALVI."
    info: null
    default:
    - "X_totalvi_normalized_rna"
    required: false
    direction: "input"
    multiple: false
    multiple_sep: ";"
  - type: "string"
    name: "--obsm_normalized_protein_output"
    description: "In which .obsm slot to store the normalized protein data from TOTALVI."
    info: null
    default:
    - "X_totalvi_normalized_protein"
    required: false
    direction: "input"
    multiple: false
    multiple_sep: ";"
- name: "Neighbour calculation"
  arguments:
  - type: "string"
    name: "--uns_neighbors"
    description: "In which .uns slot to store various neighbor output objects."
    info: null
    default:
    - "totalvi_integration_neighbors"
    required: false
    direction: "input"
    multiple: false
    multiple_sep: ";"
  - type: "string"
    name: "--obsp_neighbor_distances"
    description: "In which .obsp slot to store the distance matrix between the resulting\
      \ neighbors."
    info: null
    default:
    - "totalvi_integration_distances"
    required: false
    direction: "input"
    multiple: false
    multiple_sep: ";"
  - type: "string"
    name: "--obsp_neighbor_connectivities"
    description: "In which .obsp slot to store the connectivities matrix between the\
      \ resulting neighbors."
    info: null
    default:
    - "totalvi_integration_connectivities"
    required: false
    direction: "input"
    multiple: false
    multiple_sep: ";"
- name: "Clustering options"
  arguments:
  - type: "string"
    name: "--obs_cluster"
    description: "Prefix for the .obs keys under which to add the cluster labels.\
      \ Newly created columns in .obs will \nbe created from the specified value for\
      \ '--obs_cluster' suffixed with an underscore and one of the resolutions\nresolutions\
      \ specified in '--leiden_resolution'.\n"
    info: null
    default:
    - "totalvi_integration_leiden"
    required: false
    direction: "input"
    multiple: false
    multiple_sep: ";"
  - type: "double"
    name: "--leiden_resolution"
    description: "Control the coarseness of the clustering. Higher values lead to\
      \ more clusters."
    info: null
    default:
    - 1.0
    required: false
    direction: "input"
    multiple: true
    multiple_sep: ";"
- name: "Umap options"
  arguments:
  - type: "string"
    name: "--obsm_umap"
    description: "In which .obsm slot to store the resulting UMAP embedding."
    info: null
    default:
    - "X_totalvi_umap"
    required: false
    direction: "input"
    multiple: false
    multiple_sep: ";"
resources:
- type: "nextflow_script"
  path: "main.nf"
  is_executable: true
  entrypoint: "run_wf"
- type: "file"
  path: "utils"
- type: "file"
  path: "nextflow_labels.config"
  dest: "nextflow_labels.config"
description: "Run totalVI integration, followed by neighbour calculations, leiden\
  \ clustering and UMAP."
test_resources:
- type: "nextflow_script"
  path: "test.nf"
  is_executable: true
  entrypoint: "test_wf"
- type: "file"
  path: "pbmc_1k_protein_v3_mms.h5mu"
info: null
status: "enabled"
scope:
  image: "public"
  target: "public"
dependencies:
- name: "integrate/totalvi"
  repository:
    type: "local"
- name: "workflows/multiomics/neighbors_leiden_umap"
  repository:
    type: "local"
license: "MIT"
links:
  repository: "https://github.com/openpipelines-bio/openpipeline"
  docker_registry: "ghcr.io"
runners:
- type: "nextflow"
  id: "nextflow"
  directives:
    tag: "$id"
  auto:
    simplifyInput: true
    simplifyOutput: false
    transcript: false
    publish: false
  config:
    labels:
      mem1gb: "memory = 1000000000.B"
      mem2gb: "memory = 2000000000.B"
      mem5gb: "memory = 5000000000.B"
      mem10gb: "memory = 10000000000.B"
      mem20gb: "memory = 20000000000.B"
      mem50gb: "memory = 50000000000.B"
      mem100gb: "memory = 100000000000.B"
      mem200gb: "memory = 200000000000.B"
      mem500gb: "memory = 500000000000.B"
      mem1tb: "memory = 1000000000000.B"
      mem2tb: "memory = 2000000000000.B"
      mem5tb: "memory = 5000000000000.B"
      mem10tb: "memory = 10000000000000.B"
      mem20tb: "memory = 20000000000000.B"
      mem50tb: "memory = 50000000000000.B"
      mem100tb: "memory = 100000000000000.B"
      mem200tb: "memory = 200000000000000.B"
      mem500tb: "memory = 500000000000000.B"
      mem1gib: "memory = 1073741824.B"
      mem2gib: "memory = 2147483648.B"
      mem4gib: "memory = 4294967296.B"
      mem8gib: "memory = 8589934592.B"
      mem16gib: "memory = 17179869184.B"
      mem32gib: "memory = 34359738368.B"
      mem64gib: "memory = 68719476736.B"
      mem128gib: "memory = 137438953472.B"
      mem256gib: "memory = 274877906944.B"
      mem512gib: "memory = 549755813888.B"
      mem1tib: "memory = 1099511627776.B"
      mem2tib: "memory = 2199023255552.B"
      mem4tib: "memory = 4398046511104.B"
      mem8tib: "memory = 8796093022208.B"
      mem16tib: "memory = 17592186044416.B"
      mem32tib: "memory = 35184372088832.B"
      mem64tib: "memory = 70368744177664.B"
      mem128tib: "memory = 140737488355328.B"
      mem256tib: "memory = 281474976710656.B"
      mem512tib: "memory = 562949953421312.B"
      cpu1: "cpus = 1"
      cpu2: "cpus = 2"
      cpu5: "cpus = 5"
      cpu10: "cpus = 10"
      cpu20: "cpus = 20"
      cpu50: "cpus = 50"
      cpu100: "cpus = 100"
      cpu200: "cpus = 200"
      cpu500: "cpus = 500"
      cpu1000: "cpus = 1000"
    script:
    - "includeConfig(\"nextflow_labels.config\")"
  debug: false
  container: "docker"
build_info:
  config: "src/workflows/integration/totalvi_leiden/config.vsh.yaml"
  runner: "nextflow"
  engine: "native"
  output: "target/nextflow/workflows/integration/totalvi_leiden"
  executable: "target/nextflow/workflows/integration/totalvi_leiden/main.nf"
  viash_version: "0.9.4"
  git_commit: "62aa4be02a75d90b75778a7d10f95101f931f3ed"
  git_remote: "https://github.com/openpipelines-bio/openpipeline"
  dependencies:
  - "target/nextflow/integrate/totalvi"
  - "target/nextflow/workflows/multiomics/neighbors_leiden_umap"
package_config:
  name: "openpipeline"
  summary: "Best-practice workflows for single-cell multi-omics analyses.\n"
  description: "OpenPipelines are extensible single cell analysis pipelines for reproducible\
    \ and large-scale single cell processing using [Viash](https://viash.io) and [Nextflow](https://www.nextflow.io/).\n\
    \nIn terms of workflows, the following has been made available, but keep in mind\
    \ that\nindividual tools and functionality can be executed as standalone components\
    \ as well.\n\n  * Demultiplexing: conversion of raw sequencing data to FASTQ objects.\n\
    \  * Ingestion: Read mapping and generating a count matrix.\n  * Single sample\
    \ processing: cell filtering and doublet detection.\n  * Multisample processing:\
    \ Count transformation, normalization, QC metric calulations.\n  * Integration:\
    \ Clustering, integration and batch correction using single and multimodal methods.\n\
    \  * Downstream analysis workflows\n"
  info:
    test_resources:
    - type: "s3"
      path: "s3://openpipelines-data"
      dest: "resources_test"
    nextflow_labels_ci:
    - path: "src/workflows/utils/labels_ci.config"
      description: "Adds the correct memory and CPU labels when running on the Viash\
        \ Hub CI."
  viash_version: "0.9.4"
  source: "src"
  target: "target"
  config_mods:
  - ".resources += {path: '/src/workflows/utils/labels.config', dest: 'nextflow_labels.config'}\n\
    .runners[.type == 'nextflow'].config.script := 'includeConfig(\"nextflow_labels.config\"\
    )'"
  - ".version := \"main_build\""
  keywords:
  - "single-cell"
  - "multimodal"
  license: "MIT"
  organization: "openpipelines-bio"
  links:
    repository: "https://github.com/openpipelines-bio/openpipeline"
    docker_registry: "ghcr.io"
    homepage: "https://openpipelines.bio"
    documentation: "https://openpipelines.bio/fundamentals"
    issue_tracker: "https://github.com/openpipelines-bio/openpipeline/issues"
