process {
  withLabel: lowmem { memory = 13.Gb }
  withLabel: lowcpu { cpus = 4 }
  withLabel: midmem { memory = 13.Gb }
  withLabel: midcpu { cpus = 4 }
  withLabel: highmem { memory = 13.Gb }
  withLabel: highcpu { cpus = 4 }
  withLabel: veryhighmem { memory = 13.Gb }
  // Nextflow apparently can't handle empty directives, i.e.
  // withLabel: lowdisk {}
  // so for that reason we have to add a dummy directive
  withLabel: lowdisk {
    dummyDirective = "dummyValue"
  }
  withLabel: middisk {
    dummyDirective = "dummyValue"
  }
  withLabel: highdisk {
    dummyDirective = "dummyValue"
  }
  withLabel: veryhighdisk {
    dummyDirective = "dummyValue"
  }
}

env.NUMBA_CACHE_DIR = '/tmp'

trace {
    enabled = true
    overwrite = true
}
dag {
  overwrite = true
}

process.maxForks = 1
