process {
  withLabel: lowmem { memory = 14.Gb }
  withLabel: lowcpu { cpus = 4 }
  withLabel: midmem { memory = 14.Gb }
  withLabel: midcpu { cpus = 4 }
  withLabel: highmem { memory = 14.Gb }
  withLabel: highcpu { cpus = 4 }
  withLabel: veryhighmem { memory = 14.Gb }
  withLabel: lowdisk { disk = { 14.GB * task.attempt } }
  withLabel: middisk { disk = { 14.GB * task.attempt } }
  withLabel: highdisk { disk = { 14.GB * task.attempt } }
  withLabel: veryhighdisk { disk = { 14.GB * task.attempt } }
}

env.NUMBA_CACHE_DIR = '/tmp'

trace {
    enabled = true
    overwrite = true
}
dag {
  overwrite = true
}

process.maxForks = 1
