functionality:
  name: "from_h5mu_to_seurat"
  namespace: "convert"
  version: "integration_build"
  authors:
  - name: "Robrecht Cannoodt"
    roles:
    - "author"
    - "maintainer"
    info:
      role: "Core Team Member"
      links:
        email: "robrecht@data-intuitive.com"
        github: "rcannood"
        orcid: "0000-0003-3641-729X"
        linkedin: "robrechtcannoodt"
      organizations:
      - name: "Data Intuitive"
        href: "https://www.data-intuitive.com"
        role: "Data Science Engineer"
      - name: "Open Problems"
        href: "https://openproblems.bio"
        role: "Core Member"
  arguments:
  - type: "file"
    name: "--input"
    alternatives:
    - "-i"
    description: "Input h5mu file"
    info: null
    example:
    - "input.h5mu"
    must_exist: true
    create_parent: true
    required: true
    direction: "input"
    multiple: false
    multiple_sep: ":"
    dest: "par"
  - type: "file"
    name: "--output"
    alternatives:
    - "-o"
    description: "Output Seurat file"
    info: null
    example:
    - "output.rds"
    must_exist: true
    create_parent: true
    required: true
    direction: "output"
    multiple: false
    multiple_sep: ":"
    dest: "par"
  resources:
  - type: "r_script"
    path: "script.R"
    is_executable: true
  - type: "file"
    path: "./src/workflows/utils/labels.config"
    dest: "nextflow_labels.config"
  description: "Converts an h5mu file into a Seurat file.\n\nRestrictions:\n  - Only\
    \ the intersection of cells is currently loaded into the Seurat object due to\
    \ the object structure limitation.\n  - Multimodal embeddings (global .obsm slot)\
    \ are loaded with the assay.used field set to the default assay.\n  - Embeddings\
    \ names are changed in order to comply with R & Seurat requirements and conventions.\n\
    \  - Feature names with underscores ('_') are automatically replaced with dashes\
    \ ('-')\n  - Seurat does not support global variables metadata /var.\n"
  test_resources:
  - type: "r_script"
    path: "run_test.R"
    is_executable: true
  - type: "file"
    path: "resources_test/10x_5k_anticmv/"
  - type: "file"
    path: "src/base/openpipelinetestutils"
    dest: "openpipelinetestutils"
  info: null
  status: "enabled"
  requirements:
    commands:
    - "ps"
  set_wd_to_resources_dir: false
platforms:
- type: "docker"
  id: "docker"
  image: "eddelbuettel/r2u:22.04"
  target_organization: "openpipelines-bio"
  target_registry: "ghcr.io"
  target_tag: "integration_build"
  namespace_separator: "/"
  resolve_volume: "Automatic"
  chown: true
  setup_strategy: "ifneedbepullelsecachedbuild"
  target_image_source: "https://github.com/openpipelines-bio/openpipeline"
  setup:
  - type: "docker"
    run:
    - "apt update && apt upgrade -y"
  - type: "apt"
    packages:
    - "libhdf5-dev"
    - "libgeos-dev"
    - "python3"
    - "python3-pip"
    - "python-is-python3"
    interactive: false
  - type: "python"
    user: false
    packages:
    - "scanpy~=1.9.5"
    - "statsmodels==0.14.0"
    - "anndata~=0.9.1"
    upgrade: true
  - type: "r"
    cran:
    - "anndata"
    - "hdf5r"
    - "testthat"
    bioc_force_install: false
  - type: "r"
    url:
    - "https://cran.r-project.org/src/contrib/Archive/SeuratObject/SeuratObject_4.0.2.tar.gz"
    bioc_force_install: false
  - type: "r"
    url:
    - "https://cran.r-project.org/src/contrib/Archive/Seurat/Seurat_4.0.4.tar.gz"
    bioc_force_install: false
  - type: "r"
    github:
    - "pmbio/MuDataSeurat@empty-tables-and-nullable"
    bioc_force_install: false
  entrypoint: []
  cmd: null
- type: "nextflow"
  id: "nextflow"
  directives:
    label:
    - "lowmem"
    - "singlecpu"
    tag: "$id"
  auto:
    simplifyInput: true
    simplifyOutput: false
    transcript: false
    publish: false
  config:
    labels:
      mem1gb: "memory = 1.GB"
      mem2gb: "memory = 2.GB"
      mem4gb: "memory = 4.GB"
      mem8gb: "memory = 8.GB"
      mem16gb: "memory = 16.GB"
      mem32gb: "memory = 32.GB"
      mem64gb: "memory = 64.GB"
      mem128gb: "memory = 128.GB"
      mem256gb: "memory = 256.GB"
      mem512gb: "memory = 512.GB"
      mem1tb: "memory = 1.TB"
      mem2tb: "memory = 2.TB"
      mem4tb: "memory = 4.TB"
      mem8tb: "memory = 8.TB"
      mem16tb: "memory = 16.TB"
      mem32tb: "memory = 32.TB"
      mem64tb: "memory = 64.TB"
      mem128tb: "memory = 128.TB"
      mem256tb: "memory = 256.TB"
      mem512tb: "memory = 512.TB"
      cpu1: "cpus = 1"
      cpu2: "cpus = 2"
      cpu5: "cpus = 5"
      cpu10: "cpus = 10"
      cpu20: "cpus = 20"
      cpu50: "cpus = 50"
      cpu100: "cpus = 100"
      cpu200: "cpus = 200"
      cpu500: "cpus = 500"
      cpu1000: "cpus = 1000"
    script:
    - "includeConfig(\"nextflow_labels.config\")"
  debug: false
  container: "docker"
info:
  config: "/home/runner/work/openpipeline/openpipeline/src/convert/from_h5mu_to_seurat/config.vsh.yaml"
  platform: "docker"
  output: "/home/runner/work/openpipeline/openpipeline/target/docker/convert/from_h5mu_to_seurat"
  executable: "/home/runner/work/openpipeline/openpipeline/target/docker/convert/from_h5mu_to_seurat/from_h5mu_to_seurat"
  viash_version: "0.8.6"
  git_commit: "cf53201ccbe9a7592275d6148c1f59b183418fbb"
  git_remote: "https://github.com/openpipelines-bio/openpipeline"
