functionality:
  name: "scgpt_integration"
  namespace: "workflows/integration"
  description: "Generation of cell embeddings for the integration of transcriptomics data using scGPT."
  authors:
    - __merge__: /src/authors/dorien_roosen.yaml
      roles: [ author, maintainer ]
  argument_groups:
    - name: "Input"
      arguments:
        - name: "--id"
          required: true
          type: string
          description: ID of the sample.
          example: foo
        - name: "--input"
          type: file
          required: true
          description: Path to the sample.
          example: input.h5mu
        - name: "--modality"
          type: string
          default: "rna"
          required: false
        - name: "--model"
          type: file
          required: true
          example: resources_test/scgpt/best_model.pt
          description: |
            Path to scGPT model file.
        - name: "--model_vocab"
          type: file
          direction: input
          required: true
          example: resources_test/scgpt/vocab.json
          description: |
            Path to scGPT model vocabulary file.
        - name: "--model_config"
          type: file
          direction: input
          required: true
          example: args.json
          description: |
            Path to scGPT model config file.
        - name: "--input_layer"
          type: string
          required: False
          description: |
            Mudata layer (key from .layers) to use as input data for binning. If not specified, .X is used.
        - name: "--var_gene_names"
          type: string
          required: false
          description: |
            The name of the adata.var column containing gene names. When no gene_name_layer is provided, the .var index will be used.
        - name: "--obs_batch_label"
          type: string
          required: false
          default: "sample"
          description: |
            The name of the adata.obs column containing the batch labels.

    - name: "Outputs"
      arguments:
        - name: "--output"
          type: file
          required: true
          direction: output
          description: Destination path to the output.
          example: output.h5mu
        - name: "--output_compression"
          type: string
          example: "gzip"
          required: false
          choices: ["gzip", "lzf"]
          description: |
            The compression algorithm to use for the output h5mu file.
        - name: "--binned_layer"
          type: string
          default: "binned"
          description: |
            The name of the adata layer to write the binned data to.
        - name: "--embedding_layer"
          type: string
          default: "X_scGPT"
          required: false
          description: |
            The name of the adata.obsm array to which scGPT embeddings will be written.
        - name: "--obsm_gene_tokens"
          type: string
          default: "gene_id_tokens"
          description: |
            The key of the .obsm array containing the gene token ids
          example: values.pt
        - name: "--obsm_tokenized_values"
          type: string
          default: values_tokenized
          description: |
            The key of the .obsm array containing the count values of the tokenized genes
        - name: "--obsm_padding_mask"
          type: string
          default: padding_mask
          description: |
            The key of the .obsm array containing the padding mask.

    - name: "Arguments"
      arguments:
        - name: "--pad_token"
          type: string
          default: "<pad>"
          required: false
          description: |
            The padding token used in the model.
        - name: "--pad_value"
          type: integer
          default: -2
          required: false
          description: |
            The value of the padding token.
        - name: "--n_input_bins"
          type: integer
          default: 51
          required: False
          min: 1
          description: |
            The number of bins to discretize the data into. When no value is provided, data won't be binned.
        - name: "--n_hvg"
          type: integer
          default: 1200
          description: |
            Number of highly variable genes to subset for.
        - name: "--max_seq_len"
          type: integer
          required: false
          description: |
            The maximum sequence length of the tokenized data.
        - name: "--dropout"
          type: double
          default: 0.2
          description: |
            Dropout value used for the transformer encoder layer
        - name: DSBN
          type: boolean
          default: true
          description: |
            Apply domain-specific batch normalization
        - name: "--batch_size"
          type: integer
          default: 64
          description: |
            The batch size to be used for inference 
  resources:
    - type: nextflow_script
      path: main.nf
      entrypoint: run_wf
  dependencies:
    - name: scgpt/cross_check_genes
    - name: scgpt/binning
    - name: feature_annotation/highly_variable_features_scanpy
    - name: filter/do_filter
    - name: scgpt/pad_tokenize
    - name: scgpt/embedding
  test_resources:
    # - type: nextflow_script
    #   path: test.nf
    #   entrypoint: test_wf
    # - type: nextflow_script
    #   path: test.nf
    #   entrypoint: test_wf2
    - path: /resources_test/scgpt/test_resources/Kim2020_Lung_subset.h5mu
    - path: /resources_test/scgpt/source/
platforms:
  - type: nextflow