functionality:
  name: "bd_rhapsody"
  namespace: "workflows/ingestion"
  version: "integration_build"
  authors:
  - name: "Robrecht Cannoodt"
    roles:
    - "maintainer"
    info:
      role: "Core Team Member"
      links:
        email: "robrecht@data-intuitive.com"
        github: "rcannood"
        orcid: "0000-0003-3641-729X"
        linkedin: "robrechtcannoodt"
      organizations:
      - name: "Data Intuitive"
        href: "https://www.data-intuitive.com"
        role: "Data Science Engineer"
      - name: "Open Problems"
        href: "https://openproblems.bio"
        role: "Core Member"
  argument_groups:
  - name: "Inputs"
    arguments:
    - type: "string"
      name: "--mode"
      description: "Whether to run a whole transcriptome analysis (WTA) or a targeted\
        \ analysis."
      info: null
      example:
      - "wta"
      required: true
      choices:
      - "wta"
      - "targeted"
      direction: "input"
      multiple: false
      multiple_sep: ":"
      dest: "par"
    - type: "string"
      name: "--id"
      description: "ID of the sample."
      info: null
      example:
      - "foo"
      required: true
      direction: "input"
      multiple: false
      multiple_sep: ":"
      dest: "par"
    - type: "file"
      name: "--input"
      alternatives:
      - "-i"
      description: "Path to your read files in the FASTQ.GZ format. You may specify\
        \ as many R1/R2 read pairs as you want."
      info: null
      example:
      - "input.fastq.gz"
      must_exist: true
      create_parent: true
      required: true
      direction: "input"
      multiple: true
      multiple_sep: ";"
      dest: "par"
    - type: "file"
      name: "--reference"
      alternatives:
      - "-r"
      - "--reference_genome"
      description: "Refence to map to. For `--mode wta`, this is the path to STAR\
        \ index as a tar.gz file. For `--mode targeted`, this is the path to mRNA\
        \ reference file for pre-designed, supplemental, or custom panel, in FASTA\
        \ format"
      info: null
      example:
      - "reference_genome.tar.gz|reference.fasta"
      must_exist: true
      create_parent: true
      required: true
      direction: "input"
      multiple: true
      multiple_sep: ";"
      dest: "par"
    - type: "file"
      name: "--transcriptome_annotation"
      alternatives:
      - "-t"
      description: "Path to GTF annotation file (only for `--mode wta`)."
      info: null
      example:
      - "transcriptome.gtf"
      must_exist: true
      create_parent: true
      required: false
      direction: "input"
      multiple: false
      multiple_sep: ":"
      dest: "par"
    - type: "file"
      name: "--abseq_reference"
      alternatives:
      - "-a"
      description: "Path to the AbSeq reference file in FASTA format. Only needed\
        \ if BD AbSeq Ab-Oligos are used."
      info: null
      example:
      - "abseq_reference.fasta"
      must_exist: true
      create_parent: true
      required: false
      direction: "input"
      multiple: true
      multiple_sep: ";"
      dest: "par"
    - type: "file"
      name: "--supplemental_reference"
      alternatives:
      - "-s"
      description: "Path to the supplemental reference file in FASTA format. Only\
        \ needed if there are additional transgene sequences used in the experiment\
        \ (only for `--mode wta`)."
      info: null
      example:
      - "supplemental_reference.fasta"
      must_exist: true
      create_parent: true
      required: false
      direction: "input"
      multiple: true
      multiple_sep: ";"
      dest: "par"
    - type: "string"
      name: "--sample_prefix"
      description: "Specify a run name to use as the output file base name. Use only\
        \ letters, numbers, or hyphens. Do not use special characters or spaces."
      info: null
      default:
      - "sample"
      required: false
      direction: "input"
      multiple: false
      multiple_sep: ":"
      dest: "par"
  - name: "Outputs"
    arguments:
    - type: "file"
      name: "--output_raw"
      description: "The BD Rhapsody output folder as it comes out of the BD Rhapsody\
        \ pipeline"
      info: null
      example:
      - "output_dir"
      must_exist: true
      create_parent: true
      required: true
      direction: "output"
      multiple: false
      multiple_sep: ":"
      dest: "par"
    - type: "file"
      name: "--output_h5mu"
      description: "The converted h5mu file."
      info: null
      example:
      - "output.h5mu"
      must_exist: true
      create_parent: true
      required: true
      direction: "output"
      multiple: false
      multiple_sep: ":"
      dest: "par"
  - name: "Putative cell calling settings"
    arguments:
    - type: "string"
      name: "--putative_cell_call"
      description: "Specify the dataset to be used for putative cell calling. For\
        \ putative cell calling using an AbSeq dataset, please provide an AbSeq_Reference\
        \ fasta file above."
      info: null
      example:
      - "mRNA"
      required: false
      choices:
      - "mRNA"
      - "AbSeq_Experimental"
      direction: "input"
      multiple: false
      multiple_sep: ":"
      dest: "par"
    - type: "integer"
      name: "--exact_cell_count"
      description: "Exact cell count - Set a specific number (>=1) of cells as putative,\
        \ based on those with the highest error-corrected read count"
      info: null
      example:
      - 10000
      required: false
      direction: "input"
      multiple: false
      multiple_sep: ":"
      dest: "par"
    - type: "boolean_true"
      name: "--disable_putative_calling"
      description: "Disable Refined Putative Cell Calling - Determine putative cells\
        \ using only the basic algorithm (minimum second derivative along the cumulative\
        \ reads curve). The refined algorithm attempts to remove false positives and\
        \ recover false negatives, but may not be ideal for certain complex mixtures\
        \ of cell types. Does not apply if Exact Cell Count is set."
      info: null
      direction: "input"
      dest: "par"
  - name: "Subsample arguments"
    arguments:
    - type: "double"
      name: "--subsample"
      description: "A number >1 or fraction (0 < n < 1) to indicate the number or\
        \ percentage of reads to subsample."
      info: null
      example:
      - 0.01
      required: false
      direction: "input"
      multiple: false
      multiple_sep: ":"
      dest: "par"
    - type: "integer"
      name: "--subsample_seed"
      description: "A seed for replicating a previous subsampled run."
      info: null
      example:
      - 3445
      required: false
      direction: "input"
      multiple: false
      multiple_sep: ":"
      dest: "par"
  - name: "Multiplex arguments"
    arguments:
    - type: "string"
      name: "--sample_tags_version"
      description: "Specify if multiplexed run."
      info: null
      example:
      - "human"
      required: false
      choices:
      - "human"
      - "hs"
      - "mouse"
      - "mm"
      direction: "input"
      multiple: false
      multiple_sep: ":"
      dest: "par"
    - type: "string"
      name: "--tag_names"
      description: "Tag_Names (optional) - Specify the tag number followed by '-'\
        \ and the desired sample name to appear in Sample_Tag_Metrics.csv.\nDo not\
        \ use the special characters: &, (), [], {},  <>, ?, |\n"
      info: null
      example:
      - "4-mySample"
      - "9-myOtherSample"
      - "6-alsoThisSample"
      required: false
      direction: "input"
      multiple: true
      multiple_sep: ";"
      dest: "par"
  - name: "VDJ arguments"
    arguments:
    - type: "string"
      name: "--vdj_version"
      description: "Specify if VDJ run."
      info: null
      example:
      - "human"
      required: false
      choices:
      - "human"
      - "mouse"
      - "humanBCR"
      - "humanBCR"
      - "humanTCR"
      - "mouseBCR"
      direction: "input"
      multiple: false
      multiple_sep: ":"
      dest: "par"
  - name: "CWL-runner arguments"
    arguments:
    - type: "boolean"
      name: "--parallel"
      description: "Run jobs in parallel."
      info: null
      default:
      - true
      required: false
      direction: "input"
      multiple: false
      multiple_sep: ":"
      dest: "par"
    - type: "boolean_true"
      name: "--timestamps"
      description: "Add timestamps to the errors, warnings, and notifications."
      info: null
      direction: "input"
      dest: "par"
    - type: "boolean_true"
      name: "--dryrun"
      description: "If true, the output directory will only contain the CWL input\
        \ files, but the pipeline itself will not be executed."
      info: null
      direction: "input"
      dest: "par"
  resources:
  - type: "nextflow_script"
    path: "main.nf"
    is_executable: true
    entrypoint: "run_wf"
  - type: "file"
    path: "src/workflows/utils/"
  - type: "file"
    path: "./src/workflows/utils/labels.config"
    dest: "nextflow_labels.config"
  description: "A wrapper for the BD Rhapsody Analysis CWL v1.10.1 pipeline.\n\nThis\
    \ pipeline can be used for a targeted analysis (with `--mode targeted`) or for\
    \ a whole transcriptome analysis (with `--mode wta`).\n\n* If mode is `\"targeted\"\
    `, then either the `--reference` or `--abseq_reference` parameters must be defined.\n\
    * If mode is `\"wta\"`, then `--reference` and `--transcriptome_annotation` must\
    \ be defined, `--abseq_reference` and `--supplemental_reference` is optional.\n\
    \nThe reference_genome and transcriptome_annotation files can be generated with\
    \ the make_reference pipeline.\nAlternatively, BD also provides standard references\
    \ which can be downloaded from these locations:\n\n  - Human: http://bd-rhapsody-public.s3-website-us-east-1.amazonaws.com/Rhapsody-WTA/GRCh38-PhiX-gencodev29/\n\
    \  - Mouse: http://bd-rhapsody-public.s3-website-us-east-1.amazonaws.com/Rhapsody-WTA/GRCm38-PhiX-gencodevM19/\n"
  test_resources:
  - type: "nextflow_script"
    path: "test.nf"
    is_executable: true
    entrypoint: "test_wf"
  - type: "file"
    path: "resources_test/bdrhap_5kjrt"
  - type: "file"
    path: "resources_test/reference_gencodev41_chr1/"
  - type: "file"
    path: "src/base/openpipelinetestutils"
    dest: "openpipelinetestutils"
  info:
    name: "BD Rhapsody"
    short_description: "A generic pipeline for running BD Rhapsody WTA or Targeted\
      \ mapping, with support for AbSeq, VDJ and/or SMK."
  status: "enabled"
  requirements:
    commands:
    - "ps"
  dependencies:
  - name: "mapping/bd_rhapsody"
    alias: "bd_rhapsody_component"
    repository:
      type: "local"
      localPath: ""
    foundConfigPath: "/home/runner/work/openpipeline/openpipeline/src/mapping/bd_rhapsody/config.vsh.yaml"
    configInfo:
      functionalityName: "bd_rhapsody"
      git_tag: ""
      git_remote: "https://github.com/openpipelines-bio/openpipeline"
      viash_version: "0.8.6"
      config: "/home/runner/work/openpipeline/openpipeline/src/mapping/bd_rhapsody/config.vsh.yaml"
      functionalityNamespace: "mapping"
      output: ""
      platform: ""
      git_commit: "f42f2ec1f6a7f2721df67fe7dece99fad518ff71"
      executable: "/nextflow/mapping/bd_rhapsody/main.nf"
    writtenPath: "/home/runner/work/openpipeline/openpipeline/target/nextflow/mapping/bd_rhapsody"
  - name: "convert/from_bdrhap_to_h5mu"
    repository:
      type: "local"
      localPath: ""
    foundConfigPath: "/home/runner/work/openpipeline/openpipeline/src/convert/from_bdrhap_to_h5mu/config.vsh.yaml"
    configInfo:
      functionalityName: "from_bdrhap_to_h5mu"
      git_tag: ""
      git_remote: "https://github.com/openpipelines-bio/openpipeline"
      viash_version: "0.8.6"
      config: "/home/runner/work/openpipeline/openpipeline/src/convert/from_bdrhap_to_h5mu/config.vsh.yaml"
      functionalityNamespace: "convert"
      output: ""
      platform: ""
      git_commit: "f42f2ec1f6a7f2721df67fe7dece99fad518ff71"
      executable: "/nextflow/convert/from_bdrhap_to_h5mu/main.nf"
    writtenPath: "/home/runner/work/openpipeline/openpipeline/target/nextflow/convert/from_bdrhap_to_h5mu"
  set_wd_to_resources_dir: false
platforms:
- type: "nextflow"
  id: "nextflow"
  directives:
    tag: "$id"
  auto:
    simplifyInput: true
    simplifyOutput: false
    transcript: false
    publish: false
  config:
    labels:
      mem1gb: "memory = 1.GB"
      mem2gb: "memory = 2.GB"
      mem4gb: "memory = 4.GB"
      mem8gb: "memory = 8.GB"
      mem16gb: "memory = 16.GB"
      mem32gb: "memory = 32.GB"
      mem64gb: "memory = 64.GB"
      mem128gb: "memory = 128.GB"
      mem256gb: "memory = 256.GB"
      mem512gb: "memory = 512.GB"
      mem1tb: "memory = 1.TB"
      mem2tb: "memory = 2.TB"
      mem4tb: "memory = 4.TB"
      mem8tb: "memory = 8.TB"
      mem16tb: "memory = 16.TB"
      mem32tb: "memory = 32.TB"
      mem64tb: "memory = 64.TB"
      mem128tb: "memory = 128.TB"
      mem256tb: "memory = 256.TB"
      mem512tb: "memory = 512.TB"
      cpu1: "cpus = 1"
      cpu2: "cpus = 2"
      cpu5: "cpus = 5"
      cpu10: "cpus = 10"
      cpu20: "cpus = 20"
      cpu50: "cpus = 50"
      cpu100: "cpus = 100"
      cpu200: "cpus = 200"
      cpu500: "cpus = 500"
      cpu1000: "cpus = 1000"
    script:
    - "includeConfig(\"nextflow_labels.config\")"
  debug: false
  container: "docker"
info:
  config: "/home/runner/work/openpipeline/openpipeline/src/workflows/ingestion/bd_rhapsody/config.vsh.yaml"
  platform: "nextflow"
  output: "/home/runner/work/openpipeline/openpipeline/target/nextflow/workflows/ingestion/bd_rhapsody"
  executable: "/home/runner/work/openpipeline/openpipeline/target/nextflow/workflows/ingestion/bd_rhapsody/main.nf"
  viash_version: "0.8.6"
  git_commit: "f42f2ec1f6a7f2721df67fe7dece99fad518ff71"
  git_remote: "https://github.com/openpipelines-bio/openpipeline"
