name: "split_modalities_test"
namespace: "test_workflows/multiomics"
scope: "test"
description: "This component test the output of the integration test of split_modalities."
authors:
  - __merge__: /src/authors/kai_waldrant.yaml
argument_groups:
  - name: Inputs
    arguments:
      - name: "--input"
        type: file
        required: true
        description: Path to modality summary csv.
        example: output_types.csv
      - name: "--mod_dir"
        type: file
        required: true
        description: Path to the directory containing the modality h5mu files.
        example: /path/to/h5mu_files
      - name: "--orig_input"
        type: file
        required: true
        description: Path to the original input file.
        example: /path/to/original_input.h5mu
resources:
  - type: python_script
    path: script.py
engines:
  - type: docker
    image: python:3.12-slim
    __merge__: /src/base/requirements/testworkflows_setup.yaml
runners:
  - type: executable
  - type: nextflow