functionality:
  name: "cellranger_postprocessing"
  namespace: "workflows/ingestion"
  version: "1.0.0rc1"
  authors:
  - name: "Angela Oliveira Pisco"
    roles:
    - "author"
    info:
      role: "Contributor"
      links:
        github: "aopisco"
        orcid: "0000-0003-0142-2355"
        linkedin: "aopisco"
      organizations:
      - name: "Insitro"
        href: "https://insitro.com"
        role: "Director of Computational Biology"
      - name: "Open Problems"
        href: "https://openproblems.bio"
        role: "Core Member"
  - name: "Robrecht Cannoodt"
    roles:
    - "author"
    - "maintainer"
    info:
      role: "Core Team Member"
      links:
        email: "robrecht@data-intuitive.com"
        github: "rcannood"
        orcid: "0000-0003-3641-729X"
        linkedin: "robrechtcannoodt"
      organizations:
      - name: "Data Intuitive"
        href: "https://www.data-intuitive.com"
        role: "Data Science Engineer"
      - name: "Open Problems"
        href: "https://openproblems.bio"
        role: "Core Member"
  argument_groups:
  - name: "Inputs"
    arguments:
    - type: "string"
      name: "--id"
      description: "ID of the sample."
      info: null
      example:
      - "foo"
      required: true
      direction: "input"
      multiple: false
      multiple_sep: ":"
      dest: "par"
    - type: "file"
      name: "--input"
      description: "Input h5mu file created by running Cell Ranger and converting\
        \ its output to h5mu."
      info: null
      example:
      - "input.h5mu"
      must_exist: true
      create_parent: true
      required: true
      direction: "input"
      multiple: false
      multiple_sep: ":"
      dest: "par"
  - name: "Outputs"
    arguments:
    - type: "file"
      name: "--output"
      description: "The converted h5mu file."
      info: null
      must_exist: true
      create_parent: true
      required: false
      direction: "output"
      multiple: false
      multiple_sep: ":"
      dest: "par"
  - name: "Correction arguments"
    arguments:
    - type: "boolean_true"
      name: "--perform_correction"
      description: "Whether or not to run CellBender to perform count correction."
      info: null
      direction: "input"
      dest: "par"
    - type: "integer"
      name: "--cellbender_epochs"
      description: "Number of epochs to run CellBender for."
      info: null
      default:
      - 150
      required: false
      direction: "input"
      multiple: false
      multiple_sep: ":"
      dest: "par"
  - name: "Filtering arguments"
    arguments:
    - type: "integer"
      name: "--min_genes"
      description: "Minimum number of counts required for a cell to pass filtering."
      info: null
      example:
      - 100
      required: false
      direction: "input"
      multiple: false
      multiple_sep: ":"
      dest: "par"
    - type: "integer"
      name: "--min_counts"
      description: "Minimum number of genes expressed required for a cell to pass\
        \ filtering."
      info: null
      example:
      - 1000
      required: false
      direction: "input"
      multiple: false
      multiple_sep: ":"
      dest: "par"
  resources:
  - type: "nextflow_script"
    path: "main.nf"
    is_executable: true
    entrypoint: "run_wf"
  - type: "file"
    path: "src/workflows/utils/"
  - type: "file"
    path: "./src/workflows/utils/labels.config"
    dest: "nextflow_labels.config"
  description: "Post-processing Cell Ranger datasets."
  test_resources:
  - type: "nextflow_script"
    path: "test.nf"
    is_executable: true
    entrypoint: "test_wf"
  - type: "nextflow_script"
    path: "test.nf"
    is_executable: true
    entrypoint: "test_wf2"
  - type: "file"
    path: "resources_test/pbmc_1k_protein_v3"
  info:
    name: "Cell Ranger post-processing"
  status: "enabled"
  requirements:
    commands:
    - "ps"
  dependencies:
  - name: "correction/cellbender_remove_background"
    repository:
      type: "local"
      localPath: ""
    foundConfigPath: "/home/runner/work/openpipeline/openpipeline/src/correction/cellbender_remove_background/config.vsh.yaml"
    configInfo:
      functionalityName: "cellbender_remove_background"
      git_tag: "0.12.1-1-g5d4f22bb96"
      git_remote: "https://github.com/openpipelines-bio/openpipeline"
      viash_version: "0.8.4"
      config: "/home/runner/work/openpipeline/openpipeline/src/correction/cellbender_remove_background/config.vsh.yaml"
      functionalityNamespace: "correction"
      output: ""
      platform: ""
      git_commit: "5d4f22bb9619480f75e8a120d2a688f4fc2c48a4"
      executable: "/nextflow/correction/cellbender_remove_background/main.nf"
    writtenPath: "/home/runner/work/openpipeline/openpipeline/target/nextflow/correction/cellbender_remove_background"
  - name: "filter/filter_with_counts"
    repository:
      type: "local"
      localPath: ""
    foundConfigPath: "/home/runner/work/openpipeline/openpipeline/src/filter/filter_with_counts/config.vsh.yaml"
    configInfo:
      functionalityName: "filter_with_counts"
      git_tag: "0.12.1-1-g5d4f22bb96"
      git_remote: "https://github.com/openpipelines-bio/openpipeline"
      viash_version: "0.8.4"
      config: "/home/runner/work/openpipeline/openpipeline/src/filter/filter_with_counts/config.vsh.yaml"
      functionalityNamespace: "filter"
      output: ""
      platform: ""
      git_commit: "5d4f22bb9619480f75e8a120d2a688f4fc2c48a4"
      executable: "/nextflow/filter/filter_with_counts/main.nf"
    writtenPath: "/home/runner/work/openpipeline/openpipeline/target/nextflow/filter/filter_with_counts"
  - name: "filter/subset_h5mu"
    repository:
      type: "local"
      localPath: ""
    foundConfigPath: "/home/runner/work/openpipeline/openpipeline/src/filter/subset_h5mu/config.vsh.yaml"
    configInfo:
      functionalityName: "subset_h5mu"
      git_tag: "0.12.1-1-g5d4f22bb96"
      git_remote: "https://github.com/openpipelines-bio/openpipeline"
      viash_version: "0.8.4"
      config: "/home/runner/work/openpipeline/openpipeline/src/filter/subset_h5mu/config.vsh.yaml"
      functionalityNamespace: "filter"
      output: ""
      platform: ""
      git_commit: "5d4f22bb9619480f75e8a120d2a688f4fc2c48a4"
      executable: "/nextflow/filter/subset_h5mu/main.nf"
    writtenPath: "/home/runner/work/openpipeline/openpipeline/target/nextflow/filter/subset_h5mu"
  - name: "transfer/publish"
    repository:
      type: "local"
      localPath: ""
    foundConfigPath: "/home/runner/work/openpipeline/openpipeline/src/transfer/publish/config.vsh.yaml"
    configInfo:
      functionalityName: "publish"
      git_tag: "0.12.1-1-g5d4f22bb96"
      git_remote: "https://github.com/openpipelines-bio/openpipeline"
      viash_version: "0.8.4"
      config: "/home/runner/work/openpipeline/openpipeline/src/transfer/publish/config.vsh.yaml"
      functionalityNamespace: "transfer"
      output: ""
      platform: ""
      git_commit: "5d4f22bb9619480f75e8a120d2a688f4fc2c48a4"
      executable: "/nextflow/transfer/publish/main.nf"
    writtenPath: "/home/runner/work/openpipeline/openpipeline/target/nextflow/transfer/publish"
  set_wd_to_resources_dir: false
platforms:
- type: "nextflow"
  id: "nextflow"
  directives:
    tag: "$id"
  auto:
    simplifyInput: true
    simplifyOutput: false
    transcript: false
    publish: false
  config:
    labels:
      mem1gb: "memory = 1.GB"
      mem2gb: "memory = 2.GB"
      mem4gb: "memory = 4.GB"
      mem8gb: "memory = 8.GB"
      mem16gb: "memory = 16.GB"
      mem32gb: "memory = 32.GB"
      mem64gb: "memory = 64.GB"
      mem128gb: "memory = 128.GB"
      mem256gb: "memory = 256.GB"
      mem512gb: "memory = 512.GB"
      mem1tb: "memory = 1.TB"
      mem2tb: "memory = 2.TB"
      mem4tb: "memory = 4.TB"
      mem8tb: "memory = 8.TB"
      mem16tb: "memory = 16.TB"
      mem32tb: "memory = 32.TB"
      mem64tb: "memory = 64.TB"
      mem128tb: "memory = 128.TB"
      mem256tb: "memory = 256.TB"
      mem512tb: "memory = 512.TB"
      cpu1: "cpus = 1"
      cpu2: "cpus = 2"
      cpu5: "cpus = 5"
      cpu10: "cpus = 10"
      cpu20: "cpus = 20"
      cpu50: "cpus = 50"
      cpu100: "cpus = 100"
      cpu200: "cpus = 200"
      cpu500: "cpus = 500"
      cpu1000: "cpus = 1000"
    script:
    - "includeConfig(\"nextflow_labels.config\")"
  debug: false
  container: "docker"
info:
  config: "/home/runner/work/openpipeline/openpipeline/src/workflows/ingestion/cellranger_postprocessing/config.vsh.yaml"
  platform: "nextflow"
  output: "/home/runner/work/openpipeline/openpipeline/target/nextflow/workflows/ingestion/cellranger_postprocessing"
  executable: "/home/runner/work/openpipeline/openpipeline/target/nextflow/workflows/ingestion/cellranger_postprocessing/main.nf"
  viash_version: "0.8.4"
  git_commit: "5d4f22bb9619480f75e8a120d2a688f4fc2c48a4"
  git_remote: "https://github.com/openpipelines-bio/openpipeline"
  git_tag: "0.12.1-1-g5d4f22bb96"
