functionality:
  name: "cellranger_count"
  namespace: "mapping"
  version: "main_build"
  authors:
  - name: "Angela Oliveira Pisco"
    roles:
    - "author"
    info:
      role: "Contributor"
      links:
        github: "aopisco"
        orcid: "0000-0003-0142-2355"
        linkedin: "aopisco"
      organizations:
      - name: "Insitro"
        href: "https://insitro.com"
        role: "Director of Computational Biology"
      - name: "Open Problems"
        href: "https://openproblems.bio"
        role: "Core Member"
  - name: "Samuel D'Souza"
    roles:
    - "author"
    info:
      role: "Contributor"
      links:
        github: "srdsam"
        linkedin: "samuel-d-souza-887023150/"
      organizations:
      - name: "Chan Zuckerberg Biohub"
        href: "https://www.czbiohub.org"
        role: "Data Engineer"
  - name: "Robrecht Cannoodt"
    roles:
    - "author"
    - "maintainer"
    info:
      role: "Core Team Member"
      links:
        email: "robrecht@data-intuitive.com"
        github: "rcannood"
        orcid: "0000-0003-3641-729X"
        linkedin: "robrechtcannoodt"
      organizations:
      - name: "Data Intuitive"
        href: "https://www.data-intuitive.com"
        role: "Data Science Engineer"
      - name: "Open Problems"
        href: "https://openproblems.bio"
        role: "Core Member"
  argument_groups:
  - name: "Inputs"
    arguments:
    - type: "file"
      name: "--input"
      description: "The fastq.gz files to align. Can also be a single directory containing\
        \ fastq.gz files."
      info: null
      example:
      - "sample_S1_L001_R1_001.fastq.gz"
      - "sample_S1_L001_R2_001.fastq.gz"
      must_exist: true
      create_parent: true
      required: true
      direction: "input"
      multiple: true
      multiple_sep: ";"
      dest: "par"
    - type: "file"
      name: "--reference"
      description: "The path to Cell Ranger reference tar.gz file. Can also be a directory."
      info: null
      example:
      - "reference.tar.gz"
      must_exist: true
      create_parent: true
      required: true
      direction: "input"
      multiple: false
      multiple_sep: ":"
      dest: "par"
  - name: "Outputs"
    arguments:
    - type: "file"
      name: "--output"
      description: "The folder to store the alignment results."
      info: null
      example:
      - "/path/to/output"
      must_exist: true
      create_parent: true
      required: true
      direction: "output"
      multiple: false
      multiple_sep: ":"
      dest: "par"
  - name: "Arguments"
    arguments:
    - type: "integer"
      name: "--expect_cells"
      description: "Expected number of recovered cells, used as input to cell calling\
        \ algorithm."
      info: null
      example:
      - 3000
      required: false
      direction: "input"
      multiple: false
      multiple_sep: ":"
      dest: "par"
    - type: "integer"
      name: "--force_cells"
      description: "Force pipeline to use this number of cells, bypassing cell calling\
        \ algorithm."
      info: null
      example:
      - 3000
      required: false
      direction: "input"
      multiple: false
      multiple_sep: ":"
      dest: "par"
    - type: "string"
      name: "--chemistry"
      description: "Assay configuration.\n- auto: autodetect mode\n- threeprime: Single\
        \ Cell 3'\n- fiveprime: Single Cell 5'\n- SC3Pv1: Single Cell 3' v1 \n  NOTE:\
        \ this mode cannot be auto-detected. It must be set explicitly with this option.\n\
        - SC3Pv2: Single Cell 3' v2\n- SC3Pv3: Single Cell 3' v3\n- SC3Pv4: Single\
        \ Cell 3' v4\n- SC3Pv3LT: Single Cell 3' v3 LT\n- SC3Pv3HT: Single Cell 3'\
        \ v3 HT\n- SC5P-PE-v3: Single Cell 5' paired-end v3 (GEM-X)\n- SC5P-PE: Single\
        \ Cell 5' paired-end\n- SC5P-R2: Single Cell 5' R2-only\n- SC-FB: Single Cell\
        \ Antibody-only 3' v2 or 5'\n- ARC-v1: for analyzing the Gene Expression portion\
        \ of Multiome data. \n  NOTE: when the pipeline auto-detects ARC-v1 chemistry,\
        \ an error is triggered.\nSee https://kb.10xgenomics.com/hc/en-us/articles/115003764132-How-does-Cell-Ranger-auto-detect-chemistry-\
        \ for more information.\n"
      info: null
      default:
      - "auto"
      required: false
      choices:
      - "auto"
      - "threeprime"
      - "fiveprime"
      - "SC3Pv1"
      - "SC3Pv2"
      - "SC3Pv3"
      - "SC3Pv4"
      - "SC3Pv3LT"
      - "SC3Pv3HT"
      - "SC5P-PE-v3"
      - "SC5P-PE"
      - "SC5P-R2"
      - "SC-FB"
      - "ARC-v1"
      direction: "input"
      multiple: false
      multiple_sep: ":"
      dest: "par"
    - type: "boolean"
      name: "--secondary_analysis"
      description: "Whether or not to run the secondary analysis e.g. clustering."
      info: null
      default:
      - false
      required: false
      direction: "input"
      multiple: false
      multiple_sep: ":"
      dest: "par"
    - type: "boolean"
      name: "--generate_bam"
      description: "Whether to generate a BAM file."
      info: null
      default:
      - true
      required: false
      direction: "input"
      multiple: false
      multiple_sep: ":"
      dest: "par"
    - type: "boolean"
      name: "--include_introns"
      description: "Include intronic reads in count."
      info: null
      default:
      - true
      required: false
      direction: "input"
      multiple: false
      multiple_sep: ":"
      dest: "par"
    - type: "integer"
      name: "--r1_length"
      description: "Hard trim the input Read 1 to this length before analysis"
      info: null
      required: false
      direction: "input"
      multiple: false
      multiple_sep: ":"
      dest: "par"
    - type: "integer"
      name: "--r2_length"
      description: "Hard trim the input Read 2 to this length before analysis"
      info: null
      required: false
      direction: "input"
      multiple: false
      multiple_sep: ":"
      dest: "par"
    - type: "integer"
      name: "--lanes"
      description: "Only use FASTQs from selected lanes."
      info: null
      example:
      - 1
      - 2
      - 3
      required: false
      direction: "input"
      multiple: true
      multiple_sep: ";"
      dest: "par"
    - type: "boolean"
      name: "--library_compatibility_check"
      description: "Whether to check for barcode compatibility between libraries.\n"
      info: null
      default:
      - true
      required: false
      direction: "input"
      multiple: false
      multiple_sep: ":"
      dest: "par"
    - type: "integer"
      name: "--min_crispr_umi"
      description: "Set the minimum number of CRISPR guide RNA UMIs required for protospacer\
        \ detection.\nIf a lower or higher sensitivity is desired for detection, this\
        \ value can be customized\naccording to specific experimental needs. Applicable\
        \ only to datasets that include a\nCRISPR Guide Capture library.\n"
      info: null
      required: false
      min: 1
      direction: "input"
      multiple: false
      multiple_sep: ":"
      dest: "par"
  resources:
  - type: "bash_script"
    path: "script.sh"
    is_executable: true
  - type: "file"
    path: "./src/workflows/utils/labels.config"
    dest: "nextflow_labels.config"
  description: "Align fastq files using Cell Ranger count."
  test_resources:
  - type: "python_script"
    path: "test.py"
    is_executable: true
  - type: "file"
    path: "resources_test/cellranger_tiny_fastq"
  - type: "file"
    path: "src/utils/setup_logger.py"
  - type: "file"
    path: "src/base/openpipelinetestutils"
    dest: "openpipelinetestutils"
  info: null
  status: "enabled"
  requirements:
    commands:
    - "ps"
  set_wd_to_resources_dir: false
platforms:
- type: "docker"
  id: "docker"
  image: "ghcr.io/data-intuitive/cellranger:8.0"
  target_organization: "openpipelines-bio"
  target_registry: "ghcr.io"
  target_tag: "main_build"
  namespace_separator: "/"
  resolve_volume: "Automatic"
  chown: true
  setup_strategy: "ifneedbepullelsecachedbuild"
  target_image_source: "https://github.com/openpipelines-bio/openpipeline"
  setup:
  - type: "docker"
    run:
    - "DEBIAN_FRONTEND=noninteractive apt update && \\\napt upgrade -y && apt install\
      \ -y procps && rm -rf /var/lib/apt/lists/*\n"
  test_setup:
  - type: "docker"
    copy:
    - "openpipelinetestutils /opt/openpipelinetestutils"
  - type: "python"
    user: false
    packages:
    - "/opt/openpipelinetestutils"
    upgrade: true
  - type: "python"
    user: false
    packages:
    - "viashpy==0.6.0"
    upgrade: true
  entrypoint: []
  cmd: null
- type: "nextflow"
  id: "nextflow"
  directives:
    label:
    - "highmem"
    - "highcpu"
    tag: "$id"
  auto:
    simplifyInput: true
    simplifyOutput: false
    transcript: false
    publish: false
  config:
    labels:
      mem1gb: "memory = 1.GB"
      mem2gb: "memory = 2.GB"
      mem4gb: "memory = 4.GB"
      mem8gb: "memory = 8.GB"
      mem16gb: "memory = 16.GB"
      mem32gb: "memory = 32.GB"
      mem64gb: "memory = 64.GB"
      mem128gb: "memory = 128.GB"
      mem256gb: "memory = 256.GB"
      mem512gb: "memory = 512.GB"
      mem1tb: "memory = 1.TB"
      mem2tb: "memory = 2.TB"
      mem4tb: "memory = 4.TB"
      mem8tb: "memory = 8.TB"
      mem16tb: "memory = 16.TB"
      mem32tb: "memory = 32.TB"
      mem64tb: "memory = 64.TB"
      mem128tb: "memory = 128.TB"
      mem256tb: "memory = 256.TB"
      mem512tb: "memory = 512.TB"
      cpu1: "cpus = 1"
      cpu2: "cpus = 2"
      cpu5: "cpus = 5"
      cpu10: "cpus = 10"
      cpu20: "cpus = 20"
      cpu50: "cpus = 50"
      cpu100: "cpus = 100"
      cpu200: "cpus = 200"
      cpu500: "cpus = 500"
      cpu1000: "cpus = 1000"
    script:
    - "includeConfig(\"nextflow_labels.config\")"
  debug: false
  container: "docker"
info:
  config: "/home/runner/work/openpipeline/openpipeline/src/mapping/cellranger_count/config.vsh.yaml"
  platform: "docker"
  output: "/home/runner/work/openpipeline/openpipeline/target/docker/mapping/cellranger_count"
  executable: "/home/runner/work/openpipeline/openpipeline/target/docker/mapping/cellranger_count/cellranger_count"
  viash_version: "0.8.6"
  git_commit: "f9d255dc2a481071d76c3021f4ae13c5d8a7a549"
  git_remote: "https://github.com/openpipelines-bio/openpipeline"
