name: intersect_obs
namespace: "filter"
scope: "public"
description: |
  Create an intersection between two or more modalities.
  
  This component removes any observations which are not present in all modalities.
authors:
  - __merge__: /src/authors/dries_schaumont.yaml
    roles: [ maintainer ]
  - __merge__: /src/authors/isabelle_bergiers.yaml
    roles: [ contributor ] 
arguments:
  # input
  - name: "--input"
    type: file
    description: Input h5mu file
    direction: input
    required: true
    example: input.h5mu

  - name: "--modalities"
    description: |
      Which modalities from the input MuData file to process.
    type: string
    multiple: true
    required: true
    example: [rna, prot]
  
  # output
  - name: "--output"
    type: file
    description: Output h5mu file.
    direction: output
    example: output.h5mu

__merge__: [., /src/base/h5_compression_argument.yaml]


resources:
  - type: python_script
    path: script.py
  - path: /src/utils/setup_logger.py
  - path: /src/utils/compress_h5mu.py

test_resources:
  - type: python_script
    path: test.py
  - path: /resources_test/pbmc_1k_protein_v3

engines:
- type: docker
  image: python:3.13-slim
  setup:
    - type: apt
      packages: 
        - procps
    - type: python
      __merge__: [/src/base/requirements/anndata_mudata.yaml, .]
  test_setup:
    - type: python
      __merge__: [ /src/base/requirements/viashpy.yaml, .]

runners:
- type: executable
- type: nextflow
  directives:
    label: [lowcpu, midmem]
