functionality:
  name: "velocyto"
  namespace: "velocity"
  version: "main_build"
  authors:
  - name: "Robrecht Cannoodt"
    roles:
    - "maintainer"
    info:
      role: "Core Team Member"
      links:
        email: "robrecht@data-intuitive.com"
        github: "rcannood"
        orcid: "0000-0003-3641-729X"
        linkedin: "robrechtcannoodt"
      organizations:
      - name: "Data Intuitive"
        href: "https://www.data-intuitive.com"
        role: "Data Science Engineer"
      - name: "Open Problems"
        href: "https://openproblems.bio"
        role: "Core Member"
  arguments:
  - type: "file"
    name: "--input"
    alternatives:
    - "-i"
    description: "Path to BAM file"
    info: null
    must_exist: true
    create_parent: true
    required: true
    direction: "input"
    multiple: false
    multiple_sep: ":"
    dest: "par"
  - type: "file"
    name: "--transcriptome"
    alternatives:
    - "-t"
    description: "Path to GTF file"
    info: null
    must_exist: true
    create_parent: true
    required: true
    direction: "input"
    multiple: false
    multiple_sep: ":"
    dest: "par"
  - type: "file"
    name: "--barcode"
    alternatives:
    - "-b"
    description: "Valid barcodes file, to filter the bam. If --bcfile is not specified\
      \ all the cell barcodes will be included.\nCell barcodes should be specified\
      \ in the bcfile as the 'CB' tag for each read\n"
    info: null
    must_exist: true
    create_parent: true
    required: false
    direction: "input"
    multiple: false
    multiple_sep: ":"
    dest: "par"
  - type: "boolean_true"
    name: "--without_umi"
    description: "foo"
    info: null
    direction: "input"
    dest: "par"
  - type: "file"
    name: "--output"
    alternatives:
    - "-o"
    description: "Velocyto loom file"
    info: null
    must_exist: true
    create_parent: true
    required: true
    direction: "output"
    multiple: false
    multiple_sep: ":"
    dest: "par"
  - type: "string"
    name: "--logic"
    alternatives:
    - "-l"
    description: "The logic to use for the filtering."
    info: null
    default:
    - "Default"
    required: false
    choices:
    - "Default"
    - "Permissive10X"
    - "Intermediate10X"
    - "ValidatedIntrons10X"
    - "Stricter10X"
    - "ObservedSpanning10X"
    - "Discordant10X"
    - "SmartSeq2"
    direction: "input"
    multiple: false
    multiple_sep: ":"
    dest: "par"
  resources:
  - type: "bash_script"
    path: "script.sh"
    is_executable: true
  - type: "file"
    path: "./src/workflows/utils/labels.config"
    dest: "nextflow_labels.config"
  description: "Runs the velocity analysis on a BAM file, outputting a loom file."
  test_resources:
  - type: "python_script"
    path: "test.py"
    is_executable: true
  - type: "file"
    path: "resources_test/cellranger_tiny_fastq"
  - type: "file"
    path: "resources_test/rna_velocity"
  - type: "file"
    path: "resources_test/reference_gencodev41_chr1"
  - type: "file"
    path: "src/base/openpipelinetestutils"
    dest: "openpipelinetestutils"
  info: null
  status: "enabled"
  requirements:
    commands:
    - "ps"
  set_wd_to_resources_dir: false
platforms:
- type: "docker"
  id: "docker"
  image: "python:3.9-slim"
  target_organization: "openpipelines-bio"
  target_registry: "ghcr.io"
  target_tag: "main_build"
  namespace_separator: "/"
  resolve_volume: "Automatic"
  chown: true
  setup_strategy: "ifneedbepullelsecachedbuild"
  target_image_source: "https://github.com/openpipelines-bio/openpipeline"
  setup:
  - type: "apt"
    packages:
    - "procps"
    - "build-essential"
    - "file"
    interactive: false
  - type: "python"
    user: false
    pip:
    - "numpy"
    - "Cython"
    upgrade: true
  - type: "python"
    user: false
    pip:
    - "velocyto"
    upgrade: true
  - type: "apt"
    packages:
    - "samtools"
    interactive: false
  test_setup:
  - type: "python"
    user: false
    packages:
    - "viashpy==0.6.0"
    upgrade: true
  entrypoint: []
  cmd: null
- type: "native"
  id: "native"
- type: "nextflow"
  id: "nextflow"
  directives:
    label:
    - "highmem"
    - "lowcpu"
    tag: "$id"
  auto:
    simplifyInput: true
    simplifyOutput: false
    transcript: false
    publish: false
  config:
    labels:
      mem1gb: "memory = 1.GB"
      mem2gb: "memory = 2.GB"
      mem4gb: "memory = 4.GB"
      mem8gb: "memory = 8.GB"
      mem16gb: "memory = 16.GB"
      mem32gb: "memory = 32.GB"
      mem64gb: "memory = 64.GB"
      mem128gb: "memory = 128.GB"
      mem256gb: "memory = 256.GB"
      mem512gb: "memory = 512.GB"
      mem1tb: "memory = 1.TB"
      mem2tb: "memory = 2.TB"
      mem4tb: "memory = 4.TB"
      mem8tb: "memory = 8.TB"
      mem16tb: "memory = 16.TB"
      mem32tb: "memory = 32.TB"
      mem64tb: "memory = 64.TB"
      mem128tb: "memory = 128.TB"
      mem256tb: "memory = 256.TB"
      mem512tb: "memory = 512.TB"
      cpu1: "cpus = 1"
      cpu2: "cpus = 2"
      cpu5: "cpus = 5"
      cpu10: "cpus = 10"
      cpu20: "cpus = 20"
      cpu50: "cpus = 50"
      cpu100: "cpus = 100"
      cpu200: "cpus = 200"
      cpu500: "cpus = 500"
      cpu1000: "cpus = 1000"
    script:
    - "includeConfig(\"nextflow_labels.config\")"
  debug: false
  container: "docker"
info:
  config: "/home/runner/work/openpipeline/openpipeline/src/velocity/velocyto/config.vsh.yaml"
  platform: "nextflow"
  output: "/home/runner/work/openpipeline/openpipeline/target/nextflow/velocity/velocyto"
  executable: "/home/runner/work/openpipeline/openpipeline/target/nextflow/velocity/velocyto/velocyto"
  viash_version: "0.8.5"
  git_commit: "25e180315afd00c32282a999d8abe2329dce6afe"
  git_remote: "https://github.com/openpipelines-bio/openpipeline"
