manifest {
  nextflowVersion = '!>=20.12.1-edge'
}

params {
  rootDir = java.nio.file.Paths.get("$projectDir/../../../").toAbsolutePath().normalize().toString()
}

process {
  container = 'nextflow/bash:latest'
}

// include common settings
includeConfig("${params.rootDir}/workflows/utils/profiles.config")
includeConfig("${params.rootDir}/workflows/utils/labels.config")