name: "process_batches"
namespace: "workflows/multiomics"
version: "integration_build"
authors:
- name: "Dries Schaumont"
  roles:
  - "author"
  - "maintainer"
  info:
    role: "Core Team Member"
    links:
      email: "dries@data-intuitive.com"
      github: "DriesSchaumont"
      orcid: "0000-0002-4389-0440"
      linkedin: "dries-schaumont"
    organizations:
    - name: "Data Intuitive"
      href: "https://www.data-intuitive.com"
      role: "Data Scientist"
argument_groups:
- name: "Inputs"
  arguments:
  - type: "string"
    name: "--id"
    description: "ID of the sample."
    info: null
    example:
    - "foo"
    required: true
    direction: "input"
    multiple: false
    multiple_sep: ";"
  - type: "file"
    name: "--input"
    alternatives:
    - "-i"
    description: "Path to the sample."
    info: null
    example:
    - "input.h5mu"
    must_exist: true
    create_parent: true
    required: true
    direction: "input"
    multiple: true
    multiple_sep: ";"
  - type: "string"
    name: "--rna_layer"
    description: "Input layer for the gene expression modality. If not specified,\
      \ .X is used."
    info: null
    required: false
    direction: "input"
    multiple: false
    multiple_sep: ";"
  - type: "string"
    name: "--prot_layer"
    description: "Input layer for the antibody capture modality. If not specified,\
      \ .X is used."
    info: null
    required: false
    direction: "input"
    multiple: false
    multiple_sep: ";"
- name: "Outputs"
  arguments:
  - type: "file"
    name: "--output"
    description: "Destination path to the output."
    info: null
    example:
    - "output.h5mu"
    must_exist: true
    create_parent: true
    required: true
    direction: "output"
    multiple: false
    multiple_sep: ";"
- name: "Highly variable features detection"
  arguments:
  - type: "string"
    name: "--highly_variable_features_var_output"
    alternatives:
    - "--filter_with_hvg_var_output"
    description: "In which .var slot to store a boolean array corresponding to the\
      \ highly variable genes."
    info: null
    default:
    - "filter_with_hvg"
    required: false
    direction: "input"
    multiple: false
    multiple_sep: ";"
  - type: "string"
    name: "--highly_variable_features_obs_batch_key"
    alternatives:
    - "--filter_with_hvg_obs_batch_key"
    description: "If specified, highly-variable genes are selected within each batch\
      \ separately and merged. This simple \nprocess avoids the selection of batch-specific\
      \ genes and acts as a lightweight batch correction method.\n"
    info: null
    default:
    - "sample_id"
    required: false
    direction: "input"
    multiple: false
    multiple_sep: ";"
- name: "QC metrics calculation options"
  arguments:
  - type: "string"
    name: "--var_qc_metrics"
    description: "Keys to select a boolean (containing only True or False) column\
      \ from .var.\nFor each cell, calculate the proportion of total values for genes\
      \ which are labeled 'True', \ncompared to the total sum of the values for all\
      \ genes.\n"
    info: null
    example:
    - "ercc,highly_variable"
    default:
    - "filter_with_hvg"
    required: false
    direction: "input"
    multiple: true
    multiple_sep: ","
  - type: "integer"
    name: "--top_n_vars"
    description: "Number of top vars to be used to calculate cumulative proportions.\n\
      If not specified, proportions are not calculated. `--top_n_vars 20,50` finds\n\
      cumulative proportion to the 20th and 50th most expressed vars.\n"
    info: null
    default:
    - 50
    - 100
    - 200
    - 500
    required: false
    direction: "input"
    multiple: true
    multiple_sep: ","
- name: "PCA options"
  arguments:
  - type: "boolean_true"
    name: "--pca_overwrite"
    description: "Allow overwriting slots for PCA output."
    info: null
    direction: "input"
- name: "CLR options"
  arguments:
  - type: "integer"
    name: "--clr_axis"
    description: "Axis to perform the CLR transformation on."
    info: null
    default:
    - 0
    required: false
    direction: "input"
    multiple: false
    multiple_sep: ";"
- name: "RNA Scaling options"
  description: "Options for enabling scaling of the log-normalized data to unit variance\
    \ and zero mean.\nThe scaled data will be output a different layer and representation\
    \ with reduced dimensions\nwill be created and stored in addition to the non-scaled\
    \ data.\n"
  arguments:
  - type: "boolean_true"
    name: "--rna_enable_scaling"
    description: "Enable scaling for the RNA modality."
    info: null
    direction: "input"
  - type: "string"
    name: "--rna_scaling_output_layer"
    description: "Output layer where the scaled log-normalized data will be stored."
    info: null
    default:
    - "scaled"
    required: false
    direction: "input"
    multiple: false
    multiple_sep: ";"
  - type: "string"
    name: "--rna_scaling_pca_obsm_output"
    description: "Name of the .obsm key where the PCA representation of the log-normalized\n\
      and scaled data is stored.\n"
    info: null
    default:
    - "scaled_pca"
    required: false
    direction: "input"
    multiple: false
    multiple_sep: ";"
  - type: "string"
    name: "--rna_scaling_pca_loadings_varm_output"
    description: "Name of the .varm key where the PCA loadings of the log-normalized\
      \ and scaled\ndata is stored.\n"
    info: null
    default:
    - "scaled_pca_loadings"
    required: false
    direction: "input"
    multiple: false
    multiple_sep: ";"
  - type: "string"
    name: "--rna_scaling_pca_variance_uns_output"
    description: "Name of the .uns key where the variance and variance ratio will\
      \ be stored as a map.\nThe map will contain two keys: variance and variance_ratio\
      \ respectively.\n"
    info: null
    default:
    - "scaled_pca_variance"
    required: false
    direction: "input"
    multiple: false
    multiple_sep: ";"
  - type: "string"
    name: "--rna_scaling_umap_obsm_output"
    description: "Name of the .obsm key where the UMAP representation of the log-normalized\
      \ and scaled data is stored."
    info: null
    default:
    - "scaled_umap"
    required: false
    direction: "input"
    multiple: false
    multiple_sep: ";"
  - type: "double"
    name: "--rna_scaling_max_value"
    description: "Clip (truncate) data to this value after scaling. If not specified,\
      \ do not clip."
    info: null
    required: false
    direction: "input"
    multiple: false
    multiple_sep: ";"
  - type: "boolean_false"
    name: "--rna_scaling_zero_center"
    description: "If set, omit zero-centering variables, which allows to handle sparse\
      \ input efficiently.\""
    info: null
    direction: "input"
resources:
- type: "nextflow_script"
  path: "main.nf"
  is_executable: true
  entrypoint: "run_wf"
- type: "file"
  path: "utils"
- type: "file"
  path: "nextflow_labels.config"
  dest: "nextflow_labels.config"
description: "This workflow serves as an entrypoint into the 'full_pipeline' in order\
  \ to\nre-run the multisample processing and the integration setup. An input .h5mu\
  \ file will \nfirst be split in order to run the multisample processing per modality.\
  \ Next, the modalities\nare merged again and the integration setup pipeline is executed.\
  \ Please note that this workflow\nassumes that samples from multiple pipelines are\
  \ already concatenated. \n"
test_resources:
- type: "nextflow_script"
  path: "test.nf"
  is_executable: true
  entrypoint: "test_wf"
- type: "nextflow_script"
  path: "test.nf"
  is_executable: true
  entrypoint: "test_wf2"
- type: "file"
  path: "concat_test_data"
- type: "file"
  path: "10x_5k_anticmv"
- type: "file"
  path: "openpipelinetestutils"
  dest: "openpipelinetestutils"
info:
  test_dependencies:
  - name: "workflow_test"
    namespace: "test_workflows/multiomics/process_batches"
  - name: "workflow_test2"
    namespace: "test_workflows/multiomics/process_batches"
status: "enabled"
dependencies:
- name: "dataflow/merge"
  repository:
    type: "local"
- name: "workflows/multiomics/split_modalities"
  alias: "split_modalities_workflow"
  repository:
    type: "local"
- name: "workflows/prot/prot_multisample"
  repository:
    type: "local"
- name: "workflows/rna/rna_multisample"
  repository:
    type: "local"
- name: "workflows/multiomics/dimensionality_reduction"
  alias: "dimensionality_reduction_rna"
  repository:
    type: "local"
- name: "workflows/multiomics/dimensionality_reduction"
  alias: "dimensionality_reduction_prot"
  repository:
    type: "local"
- name: "workflows/multiomics/dimensionality_reduction"
  alias: "dimensionality_reduction_scaling_rna"
  repository:
    type: "local"
links:
  repository: "https://github.com/openpipelines-bio/openpipeline"
  docker_registry: "ghcr.io"
runners:
- type: "nextflow"
  id: "nextflow"
  directives:
    tag: "$id"
  auto:
    simplifyInput: true
    simplifyOutput: false
    transcript: false
    publish: false
  config:
    labels:
      mem1gb: "memory = 1000000000.B"
      mem2gb: "memory = 2000000000.B"
      mem5gb: "memory = 5000000000.B"
      mem10gb: "memory = 10000000000.B"
      mem20gb: "memory = 20000000000.B"
      mem50gb: "memory = 50000000000.B"
      mem100gb: "memory = 100000000000.B"
      mem200gb: "memory = 200000000000.B"
      mem500gb: "memory = 500000000000.B"
      mem1tb: "memory = 1000000000000.B"
      mem2tb: "memory = 2000000000000.B"
      mem5tb: "memory = 5000000000000.B"
      mem10tb: "memory = 10000000000000.B"
      mem20tb: "memory = 20000000000000.B"
      mem50tb: "memory = 50000000000000.B"
      mem100tb: "memory = 100000000000000.B"
      mem200tb: "memory = 200000000000000.B"
      mem500tb: "memory = 500000000000000.B"
      mem1gib: "memory = 1073741824.B"
      mem2gib: "memory = 2147483648.B"
      mem4gib: "memory = 4294967296.B"
      mem8gib: "memory = 8589934592.B"
      mem16gib: "memory = 17179869184.B"
      mem32gib: "memory = 34359738368.B"
      mem64gib: "memory = 68719476736.B"
      mem128gib: "memory = 137438953472.B"
      mem256gib: "memory = 274877906944.B"
      mem512gib: "memory = 549755813888.B"
      mem1tib: "memory = 1099511627776.B"
      mem2tib: "memory = 2199023255552.B"
      mem4tib: "memory = 4398046511104.B"
      mem8tib: "memory = 8796093022208.B"
      mem16tib: "memory = 17592186044416.B"
      mem32tib: "memory = 35184372088832.B"
      mem64tib: "memory = 70368744177664.B"
      mem128tib: "memory = 140737488355328.B"
      mem256tib: "memory = 281474976710656.B"
      mem512tib: "memory = 562949953421312.B"
      cpu1: "cpus = 1"
      cpu2: "cpus = 2"
      cpu5: "cpus = 5"
      cpu10: "cpus = 10"
      cpu20: "cpus = 20"
      cpu50: "cpus = 50"
      cpu100: "cpus = 100"
      cpu200: "cpus = 200"
      cpu500: "cpus = 500"
      cpu1000: "cpus = 1000"
    script:
    - "includeConfig(\"nextflow_labels.config\")"
  debug: false
  container: "docker"
build_info:
  config: "src/workflows/multiomics/process_batches/config.vsh.yaml"
  runner: "nextflow"
  engine: "native"
  output: "target/nextflow/workflows/multiomics/process_batches"
  executable: "target/nextflow/workflows/multiomics/process_batches/main.nf"
  viash_version: "0.9.0"
  git_commit: "258c0eebc17698c9ba8e052dcd4dd481c090ccaa"
  git_remote: "https://github.com/openpipelines-bio/openpipeline"
  dependencies:
  - "target/nextflow/dataflow/merge"
  - "target/nextflow/workflows/multiomics/split_modalities"
  - "target/nextflow/workflows/prot/prot_multisample"
  - "target/nextflow/workflows/rna/rna_multisample"
  - "target/nextflow/workflows/multiomics/dimensionality_reduction"
  - "target/nextflow/workflows/multiomics/dimensionality_reduction"
  - "target/nextflow/workflows/multiomics/dimensionality_reduction"
package_config:
  name: "openpipeline"
  info:
    test_resources:
    - type: "s3"
      path: "s3://openpipelines-data"
      dest: "resources_test"
  viash_version: "0.9.0"
  source: "src"
  target: "target"
  config_mods:
  - ".test_resources += {path: '/src/base/openpipelinetestutils', dest: 'openpipelinetestutils'}\n\
    .resources += {path: '/src/workflows/utils/labels.config', dest: 'nextflow_labels.config'}\n\
    .runners[.type == 'nextflow'].directives.tag := '$id'\n.runners[.type == 'nextflow'].config.script\
    \ := 'includeConfig(\"nextflow_labels.config\")'"
  - ".version := \"integration_build\""
  organization: "openpipelines-bio"
  links:
    repository: "https://github.com/openpipelines-bio/openpipeline"
    docker_registry: "ghcr.io"
    homepage: "https://openpipelines.bio"
    documentation: "https://openpipelines.bio/fundamentals"
    issue_tracker: "https://github.com/openpipelines-bio/openpipeline/issues"
