name: "from_seurat_to_h5mu"
namespace: "convert"
version: "integration_build"
authors:
- name: "Dorien Roosen"
  roles:
  - "author"
  - "maintainer"
  info:
    role: "Core Team Member"
    links:
      email: "dorien@data-intuitive.com"
      github: "dorien-er"
      linkedin: "dorien-roosen"
    organizations:
    - name: "Data Intuitive"
      href: "https://www.data-intuitive.com"
      role: "Data Scientist"
argument_groups:
- name: "Inputs"
  arguments:
  - type: "file"
    name: "--input"
    alternatives:
    - "-i"
    description: "Input Seurat file"
    info: null
    example:
    - "input.rds"
    must_exist: true
    create_parent: true
    required: true
    direction: "input"
    multiple: false
    multiple_sep: ";"
  - type: "string"
    name: "--assay"
    description: "Name of the assay to be mapped."
    info: null
    default:
    - "RNA"
    required: false
    direction: "input"
    multiple: false
    multiple_sep: ";"
- name: "Conversion parameters"
  arguments:
  - type: "string"
    name: "--layers_mapping"
    description: "Mapping of Seurat's Layers to AnnData layers. \nIf True, all layers\
      \ will be mapped by name. \nIf False, no layers will be mapped.\nFor custom\
      \ mapping, provide a json key/value array with Seurat fields as values and AnnData\
      \ fields as keys.\n"
    info: null
    example:
    - "{\"layer\": \"seurat_layer\"}"
    default:
    - "True"
    required: false
    direction: "input"
    multiple: false
    multiple_sep: ";"
  - type: "string"
    name: "--obs_mapping"
    description: "Mapping of Seurat's observation columns to AnnData obs columns.\
      \ \nIf True, all observation columns will be mapped by name. If False, no columns\
      \ will be mapped.\nFor custom mapping, provide a json key/value array with Seurat\
      \ fields as values and AnnData fields as keys.\n"
    info: null
    example:
    - "{\"obs_field\": \"seurat_observation\"}"
    default:
    - "True"
    required: false
    direction: "input"
    multiple: false
    multiple_sep: ";"
  - type: "string"
    name: "--var_mapping"
    description: "Mapping of Seurat's feature rows to AnnData var columns.\nIf True,\
      \ all features will be mapped by name. If False, no features will be mapped.\n\
      For custom mapping, provide a json key/value array with Seurat fields as values\
      \ and AnnData fields as keys.\n"
    info: null
    example:
    - "{\"var_field\": \"seurat_feature\"}"
    default:
    - "True"
    required: false
    direction: "input"
    multiple: false
    multiple_sep: ";"
  - type: "string"
    name: "--uns_mapping"
    description: "Mapping of Seurat's Misc to AnnData uns. \nIf True, all fields will\
      \ be mapped by name. If False, no fields will be mapped.\nFor custom mapping,\
      \ provide a json key/value array with Seurat fields as values and AnnData fields\
      \ as keys.\n"
    info: null
    example:
    - "{\"uns_field\": \"seurat_Misc\"}"
    default:
    - "True"
    required: false
    direction: "input"
    multiple: false
    multiple_sep: ";"
  - type: "string"
    name: "--obsm_mapping"
    description: "Mapping of Seurat's Embeddings to AnnData obsm fields. \nIf True,\
      \ all fields will be mapped by name. If False, no fields will be mapped.\nFor\
      \ custom mapping, provide a json key/value array with Seurat fields as values\
      \ and AnnData fields as keys.\n"
    info: null
    example:
    - "{\"obsm_field\": \"seurat_Embedding\"}"
    default:
    - "True"
    required: false
    direction: "input"
    multiple: false
    multiple_sep: ";"
  - type: "string"
    name: "--varm_mapping"
    description: "Mapping of Seurat's Loadings to AnnData varm fields. \nIf True,\
      \ all fields will be mapped by name. If False, no fields will be mapped.\nFor\
      \ custom mapping, provide a json key/value array with Seurat fields as values\
      \ and AnnData fields as keys.\n"
    info: null
    example:
    - "{\"varm_field\": \"seurat_Loadings\"}"
    default:
    - "True"
    required: false
    direction: "input"
    multiple: false
    multiple_sep: ";"
  - type: "string"
    name: "--obsp_mapping"
    description: "Mapping of Seurat's Graphs to AnnData obsp fields.\nIf True, all\
      \ fields will be mapped by name. If False, no fields will be mapped.\nFor custom\
      \ mapping, provide a json key/value array with Seurat fields as values and AnnData\
      \ fields as keys.\n"
    info: null
    example:
    - "{\"obsp_field\": \"seurat_Graph\"}"
    default:
    - "True"
    required: false
    direction: "input"
    multiple: false
    multiple_sep: ";"
  - type: "string"
    name: "--varp_mapping"
    description: "Mapping of Seurat's Misc to AnnData varp fields. \nIf True, all\
      \ fields will be mapped by name. If False, no fields will be mapped.\nFor custom\
      \ mapping, provide a json key/value array with Seurat fields as values and AnnData\
      \ fields as keys.\n"
    info: null
    example:
    - "{\"varp_field\": \"seurat_Misc\"}"
    default:
    - "True"
    required: false
    direction: "input"
    multiple: false
    multiple_sep: ";"
  - type: "string"
    name: "--x_mapping"
    description: "A string specifying Seurat's Layer to mapped to the .X slot, If\
      \ not provided, no data will be copied to the .X slot."
    info: null
    required: false
    direction: "input"
    multiple: false
    multiple_sep: ";"
- name: "Outputs"
  arguments:
  - type: "string"
    name: "--modality"
    description: "Name of the modality to be created."
    info: null
    default:
    - "rna"
    required: false
    direction: "input"
    multiple: false
    multiple_sep: ";"
  - type: "file"
    name: "--output"
    alternatives:
    - "-o"
    description: "Output H5MU file"
    info: null
    example:
    - "output.h5mu"
    must_exist: true
    create_parent: true
    required: true
    direction: "output"
    multiple: false
    multiple_sep: ";"
  - type: "string"
    name: "--output_compression"
    description: "Compression format to use for the output AnnData and/or Mudata objects.\n\
      By default no compression is applied.\n"
    info: null
    example:
    - "gzip"
    required: false
    choices:
    - "gzip"
    - "lzf"
    direction: "input"
    multiple: false
    multiple_sep: ";"
resources:
- type: "r_script"
  path: "script.R"
  is_executable: true
- type: "file"
  path: "nextflow_labels.config"
  dest: "nextflow_labels.config"
description: "Converts a Seurat file into an H5MU file.\n"
test_resources:
- type: "python_script"
  path: "test.py"
  is_executable: true
- type: "file"
  path: "pbmc_1k_protein_v3"
info: null
status: "enabled"
scope:
  image: "public"
  target: "public"
license: "MIT"
links:
  repository: "https://github.com/openpipelines-bio/openpipeline"
  docker_registry: "ghcr.io"
runners:
- type: "executable"
  id: "executable"
  docker_setup_strategy: "ifneedbepullelsecachedbuild"
- type: "nextflow"
  id: "nextflow"
  directives:
    label:
    - "lowmem"
    - "lowcpu"
    tag: "$id"
  auto:
    simplifyInput: true
    simplifyOutput: false
    transcript: false
    publish: false
  config:
    labels:
      mem1gb: "memory = 1000000000.B"
      mem2gb: "memory = 2000000000.B"
      mem5gb: "memory = 5000000000.B"
      mem10gb: "memory = 10000000000.B"
      mem20gb: "memory = 20000000000.B"
      mem50gb: "memory = 50000000000.B"
      mem100gb: "memory = 100000000000.B"
      mem200gb: "memory = 200000000000.B"
      mem500gb: "memory = 500000000000.B"
      mem1tb: "memory = 1000000000000.B"
      mem2tb: "memory = 2000000000000.B"
      mem5tb: "memory = 5000000000000.B"
      mem10tb: "memory = 10000000000000.B"
      mem20tb: "memory = 20000000000000.B"
      mem50tb: "memory = 50000000000000.B"
      mem100tb: "memory = 100000000000000.B"
      mem200tb: "memory = 200000000000000.B"
      mem500tb: "memory = 500000000000000.B"
      mem1gib: "memory = 1073741824.B"
      mem2gib: "memory = 2147483648.B"
      mem4gib: "memory = 4294967296.B"
      mem8gib: "memory = 8589934592.B"
      mem16gib: "memory = 17179869184.B"
      mem32gib: "memory = 34359738368.B"
      mem64gib: "memory = 68719476736.B"
      mem128gib: "memory = 137438953472.B"
      mem256gib: "memory = 274877906944.B"
      mem512gib: "memory = 549755813888.B"
      mem1tib: "memory = 1099511627776.B"
      mem2tib: "memory = 2199023255552.B"
      mem4tib: "memory = 4398046511104.B"
      mem8tib: "memory = 8796093022208.B"
      mem16tib: "memory = 17592186044416.B"
      mem32tib: "memory = 35184372088832.B"
      mem64tib: "memory = 70368744177664.B"
      mem128tib: "memory = 140737488355328.B"
      mem256tib: "memory = 281474976710656.B"
      mem512tib: "memory = 562949953421312.B"
      cpu1: "cpus = 1"
      cpu2: "cpus = 2"
      cpu5: "cpus = 5"
      cpu10: "cpus = 10"
      cpu20: "cpus = 20"
      cpu50: "cpus = 50"
      cpu100: "cpus = 100"
      cpu200: "cpus = 200"
      cpu500: "cpus = 500"
      cpu1000: "cpus = 1000"
    script:
    - "includeConfig(\"nextflow_labels.config\")"
  debug: false
  container: "docker"
engines:
- type: "docker"
  id: "docker"
  image: "rocker/r2u:24.04"
  target_tag: "integration_build"
  namespace_separator: "/"
  setup:
  - type: "docker"
    env:
    - "RETICULATE_PYTHON=/usr/bin/python"
    - "PIP_BREAK_SYSTEM_PACKAGES=1"
  - type: "docker"
  - type: "apt"
    packages:
    - "libhdf5-dev"
    - "python3"
    - "python3-pip"
    - "python3-dev"
    - "python-is-python3"
    interactive: false
  - type: "python"
    user: true
    packages:
    - "anndata~=0.12.7"
    - "awkward"
    - "mudata~=0.3.2"
    script:
    - "exec(\"try:\\n  import zarr; from importlib.metadata import version\\nexcept\
      \ ModuleNotFoundError:\\n  exit(0)\\nelse:  assert int(version(\\\"zarr\\\"\
      ).partition(\\\".\\\")[0]) > 2\")"
    upgrade: true
  - type: "r"
    cran:
    - "anndata"
    - "Seurat"
    - "SeuratObject"
    bioc:
    - "scrapper"
    - "bit64"
    bioc_force_install: false
    warnings_as_errors: true
  - type: "docker"
    run:
    - "--mount=type=secret,id=GITHUB_TOKEN,env=GITHUB_TOKEN"
    - "Rscript -e 'options(warn = 2); remotes::install_github(c(\"scverse/anndataR\"\
      ), repos = \"https://cran.rstudio.com\")'"
  - type: "python"
    user: false
    packages:
    - "anndata~=0.12.7"
    - "awkward"
    - "mudata~=0.3.2"
    script:
    - "exec(\"try:\\n  import zarr; from importlib.metadata import version\\nexcept\
      \ ModuleNotFoundError:\\n  exit(0)\\nelse:  assert int(version(\\\"zarr\\\"\
      ).partition(\\\".\\\")[0]) > 2\")"
    upgrade: true
  test_setup:
  - type: "apt"
    packages:
    - "git"
    interactive: false
  - type: "python"
    user: false
    packages:
    - "viashpy==0.8.0"
    github:
    - "openpipelines-bio/core#subdirectory=packages/python/openpipeline_testutils"
    upgrade: true
  entrypoint: []
  cmd: null
build_info:
  config: "src/convert/from_seurat_to_h5mu/config.vsh.yaml"
  runner: "executable"
  engine: "docker"
  output: "target/executable/convert/from_seurat_to_h5mu"
  executable: "target/executable/convert/from_seurat_to_h5mu/from_seurat_to_h5mu"
  viash_version: "0.9.4"
  git_commit: "e4b23ba69590c1ed06d6721fce5474cb91e8e9e9"
  git_remote: "https://github.com/openpipelines-bio/openpipeline"
package_config:
  name: "openpipeline"
  summary: "Best-practice workflows for single-cell multi-omics analyses.\n"
  description: "OpenPipelines are extensible single cell analysis pipelines for reproducible\
    \ and large-scale single cell processing using [Viash](https://viash.io) and [Nextflow](https://www.nextflow.io/).\n\
    \nIn terms of workflows, the following has been made available, but keep in mind\
    \ that\nindividual tools and functionality can be executed as standalone components\
    \ as well.\n\n  * Demultiplexing: conversion of raw sequencing data to FASTQ objects.\n\
    \  * Ingestion: Read mapping and generating a count matrix.\n  * Single sample\
    \ processing: cell filtering and doublet detection.\n  * Multisample processing:\
    \ Count transformation, normalization, QC metric calulations.\n  * Integration:\
    \ Clustering, integration and batch correction using single and multimodal methods.\n\
    \  * Downstream analysis workflows\n"
  info:
    test_resources:
    - type: "s3"
      path: "s3://openpipelines-data"
      dest: "resources_test"
    nextflow_labels_ci:
    - path: "src/workflows/utils/labels_ci.config"
      description: "Adds the correct memory and CPU labels when running on the Viash\
        \ Hub CI."
  viash_version: "0.9.4"
  source: "src"
  target: "target"
  config_mods:
  - ".resources += {path: '/src/workflows/utils/labels.config', dest: 'nextflow_labels.config'}\n\
    .runners[.type == 'nextflow'].config.script := 'includeConfig(\"nextflow_labels.config\"\
    )'"
  - ".version := \"integration_build\""
  - ".engines[.type == 'docker'].target_tag := 'integration_build'"
  keywords:
  - "single-cell"
  - "multimodal"
  license: "MIT"
  organization: "openpipelines-bio"
  links:
    repository: "https://github.com/openpipelines-bio/openpipeline"
    docker_registry: "ghcr.io"
    homepage: "https://openpipelines.bio"
    documentation: "https://openpipelines.bio/fundamentals"
    issue_tracker: "https://github.com/openpipelines-bio/openpipeline/issues"
