functionality:
  name: "leiden"
  namespace: "cluster"
  version: "main_build"
  authors:
  - name: "Dries De Maeyer"
    roles:
    - "maintainer"
    info:
      role: "Core Team Member"
      links:
        email: "ddemaeyer@gmail.com"
        github: "ddemaeyer"
        linkedin: "dries-de-maeyer-b46a814"
      organizations:
      - name: "Janssen Pharmaceuticals"
        href: "https://www.janssen.com"
        role: "Principal Scientist"
  arguments:
  - type: "file"
    name: "--input"
    alternatives:
    - "-i"
    description: "Input file."
    info: null
    example:
    - "input.h5mu"
    must_exist: true
    create_parent: true
    required: true
    direction: "input"
    multiple: false
    multiple_sep: ":"
    dest: "par"
  - type: "string"
    name: "--modality"
    info: null
    default:
    - "rna"
    required: false
    direction: "input"
    multiple: false
    multiple_sep: ":"
    dest: "par"
  - type: "string"
    name: "--obsp_connectivities"
    description: "In which .obsp slot the neighbor connectivities can be found."
    info: null
    default:
    - "connectivities"
    required: false
    direction: "input"
    multiple: false
    multiple_sep: ":"
    dest: "par"
  - type: "file"
    name: "--output"
    alternatives:
    - "-o"
    description: "Output file."
    info: null
    example:
    - "output.h5mu"
    must_exist: true
    create_parent: true
    required: true
    direction: "output"
    multiple: false
    multiple_sep: ":"
    dest: "par"
  - type: "string"
    name: "--output_compression"
    info: null
    example:
    - "gzip"
    required: false
    choices:
    - "gzip"
    - "lzf"
    direction: "input"
    multiple: false
    multiple_sep: ":"
    dest: "par"
  - type: "string"
    name: "--obsm_name"
    description: "Name of the .obsm key under which to add the cluster labels.\nThe\
      \ name of the columns in the matrix will correspond to the resolutions.\n"
    info: null
    default:
    - "leiden"
    required: false
    direction: "input"
    multiple: false
    multiple_sep: ":"
    dest: "par"
  - type: "double"
    name: "--resolution"
    description: "A parameter value controlling the coarseness of the clustering.\
      \ Higher values lead to more clusters.\nMultiple values will result in clustering\
      \ being performed multiple times.\n"
    info: null
    default:
    - 1.0
    required: true
    direction: "input"
    multiple: true
    multiple_sep: ";"
    dest: "par"
  resources:
  - type: "python_script"
    path: "script.py"
    is_executable: true
  - type: "file"
    path: "src/utils/setup_logger.py"
  - type: "file"
    path: "./src/workflows/utils/labels.config"
    dest: "nextflow_labels.config"
  description: "Cluster cells using the [Leiden algorithm] [Traag18] implemented in\
    \ the [Scanpy framework] [Wolf18]. \nLeiden is an improved version of the [Louvain\
    \ algorithm] [Blondel08]. \nIt has been proposed for single-cell analysis by [Levine15]\
    \ [Levine15]. \nThis requires having ran `neighbors/find_neighbors` or `neighbors/bbknn`\
    \ first.\n\n[Blondel08]: Blondel et al. (2008), Fast unfolding of communities\
    \ in large networks, J. Stat. Mech.  \n[Levine15]: Levine et al. (2015), Data-Driven\
    \ Phenotypic Dissection of AML Reveals Progenitor-like Cells that Correlate with\
    \ Prognosis, Cell.  \n[Traag18]: Traag et al. (2018), From Louvain to Leiden:\
    \ guaranteeing well-connected communities arXiv.  \n[Wolf18]: Wolf et al. (2018),\
    \ Scanpy: large-scale single-cell gene expression data analysis, Genome Biology.\
    \  \n"
  test_resources:
  - type: "python_script"
    path: "test.py"
    is_executable: true
  - type: "file"
    path: "resources_test/pbmc_1k_protein_v3"
  - type: "file"
    path: "src/base/openpipelinetestutils"
    dest: "openpipelinetestutils"
  info: null
  status: "enabled"
  requirements:
    commands:
    - "ps"
  set_wd_to_resources_dir: false
platforms:
- type: "docker"
  id: "docker"
  image: "python:3.11-slim"
  target_organization: "openpipelines-bio"
  target_registry: "ghcr.io"
  target_tag: "main_build"
  namespace_separator: "/"
  resolve_volume: "Automatic"
  chown: true
  setup_strategy: "ifneedbepullelsecachedbuild"
  target_image_source: "https://github.com/openpipelines-bio/openpipeline"
  setup:
  - type: "apt"
    packages:
    - "procps"
    interactive: false
  - type: "python"
    user: false
    packages:
    - "anndata~=0.9.1"
    - "mudata~=0.2.3"
    - "pandas!=2.1.2"
    - "scanpy~=1.9.5"
    - "statsmodels==0.14.0"
    - "leidenalg~=0.10.0"
    upgrade: true
  test_setup:
  - type: "python"
    user: false
    packages:
    - "viashpy"
    upgrade: true
  entrypoint: []
  cmd: null
- type: "nextflow"
  id: "nextflow"
  directives:
    label:
    - "highcpu"
    - "midmem"
    tag: "$id"
  auto:
    simplifyInput: true
    simplifyOutput: false
    transcript: false
    publish: false
  config:
    labels:
      mem1gb: "memory = 1.GB"
      mem2gb: "memory = 2.GB"
      mem4gb: "memory = 4.GB"
      mem8gb: "memory = 8.GB"
      mem16gb: "memory = 16.GB"
      mem32gb: "memory = 32.GB"
      mem64gb: "memory = 64.GB"
      mem128gb: "memory = 128.GB"
      mem256gb: "memory = 256.GB"
      mem512gb: "memory = 512.GB"
      mem1tb: "memory = 1.TB"
      mem2tb: "memory = 2.TB"
      mem4tb: "memory = 4.TB"
      mem8tb: "memory = 8.TB"
      mem16tb: "memory = 16.TB"
      mem32tb: "memory = 32.TB"
      mem64tb: "memory = 64.TB"
      mem128tb: "memory = 128.TB"
      mem256tb: "memory = 256.TB"
      mem512tb: "memory = 512.TB"
      cpu1: "cpus = 1"
      cpu2: "cpus = 2"
      cpu5: "cpus = 5"
      cpu10: "cpus = 10"
      cpu20: "cpus = 20"
      cpu50: "cpus = 50"
      cpu100: "cpus = 100"
      cpu200: "cpus = 200"
      cpu500: "cpus = 500"
      cpu1000: "cpus = 1000"
    script:
    - "includeConfig(\"nextflow_labels.config\")"
  debug: false
  container: "docker"
info:
  config: "/home/runner/work/openpipeline/openpipeline/src/cluster/leiden/config.vsh.yaml"
  platform: "nextflow"
  output: "/home/runner/work/openpipeline/openpipeline/target/nextflow/cluster/leiden"
  executable: "/home/runner/work/openpipeline/openpipeline/target/nextflow/cluster/leiden/leiden"
  viash_version: "0.8.5"
  git_commit: "41c04e70f0a66647dc1f96006a5aeff6ce559c98"
  git_remote: "https://github.com/openpipelines-bio/openpipeline"
