functionality:
  name: "lianapy"
  namespace: "interpret"
  version: "scgpt-preprocessor_build"
  authors:
  - name: "Mauro Saporita"
    roles:
    - "author"
    info:
      role: "Contributor"
      links:
        email: "maurosaporita@gmail.com"
        github: "mauro-saporita"
        linkedin: "mauro-saporita-930b06a5"
      organizations:
      - name: "Ardigen"
        href: "https://ardigen.com"
        role: "Lead Nextflow Developer"
  - name: "Povilas Gibas"
    roles:
    - "author"
    info:
      role: "Contributor"
      links:
        email: "povilasgibas@gmail.com"
        github: "PoGibas"
        linkedin: "povilas-gibas"
      organizations:
      - name: "Ardigen"
        href: "https://ardigen.com"
        role: "Bioinformatician"
  arguments:
  - type: "file"
    name: "--input"
    alternatives:
    - "-i"
    description: "Input h5mu file"
    info: null
    must_exist: true
    create_parent: true
    required: true
    direction: "input"
    multiple: false
    multiple_sep: ":"
    dest: "par"
  - type: "file"
    name: "--output"
    alternatives:
    - "-o"
    description: "Output h5mu file."
    info: null
    must_exist: true
    create_parent: true
    required: true
    direction: "output"
    multiple: false
    multiple_sep: ":"
    dest: "par"
  - type: "string"
    name: "--output_compression"
    info: null
    default:
    - "gzip"
    required: false
    choices:
    - "gzip"
    - "lzf"
    direction: "input"
    multiple: false
    multiple_sep: ":"
    dest: "par"
  - type: "string"
    name: "--modality"
    info: null
    default:
    - "rna"
    required: false
    direction: "input"
    multiple: false
    multiple_sep: ":"
    dest: "par"
  - type: "string"
    name: "--layer"
    description: "Layer in anndata.AnnData.layers to use. If None, use mudata.mod[modality].X."
    info: null
    required: false
    direction: "input"
    multiple: false
    multiple_sep: ":"
    dest: "par"
  - type: "string"
    name: "--groupby"
    description: "The key of the observations grouping to consider."
    info: null
    default:
    - "bulk_labels"
    required: false
    direction: "input"
    multiple: false
    multiple_sep: ":"
    dest: "par"
  - type: "string"
    name: "--resource_name"
    description: "Name of the resource to be loaded and use for ligand-receptor inference."
    info: null
    default:
    - "consensus"
    required: false
    choices:
    - "baccin2019"
    - "cellcall"
    - "cellchatdb"
    - "cellinker"
    - "cellphonedb"
    - "celltalkdb"
    - "connectomedb2020"
    - "consensus"
    - "embrace"
    - "guide2pharma"
    - "hpmr"
    - "icellnet"
    - "italk"
    - "kirouac2010"
    - "lrdb"
    - "mouseconsensus"
    - "ramilowski2015"
    direction: "input"
    multiple: false
    multiple_sep: ":"
    dest: "par"
  - type: "string"
    name: "--gene_symbol"
    description: "Column name in var DataFrame in which gene symbol are stored."
    info: null
    default:
    - "gene_symbol"
    required: false
    direction: "input"
    multiple: false
    multiple_sep: ":"
    dest: "par"
  - type: "double"
    name: "--expr_prop"
    description: "Minimum expression proportion for the ligands/receptors (and their\
      \ subunits) in the corresponding cell identities. Set to '0', to return unfiltered\
      \ results."
    info: null
    default:
    - 0.1
    required: false
    direction: "input"
    multiple: false
    multiple_sep: ":"
    dest: "par"
  - type: "integer"
    name: "--min_cells"
    description: "Minimum cells per cell identity ('groupby') to be considered for\
      \ downstream analysis."
    info: null
    default:
    - 5
    required: false
    direction: "input"
    multiple: false
    multiple_sep: ":"
    dest: "par"
  - type: "string"
    name: "--aggregate_method"
    description: "Method aggregation approach, one of ['mean', 'rra'], where 'mean'\
      \ represents the mean rank, while 'rra' is the RobustRankAggregate (Kolde et\
      \ al., 2014) of the interactions."
    info: null
    default:
    - "rra"
    required: false
    choices:
    - "mean"
    - "rra"
    direction: "input"
    multiple: false
    multiple_sep: ":"
    dest: "par"
  - type: "boolean"
    name: "--return_all_lrs"
    description: "Bool whether to return all LRs, or only those that surpass the 'expr_prop'\
      \ threshold. Those interactions that do not pass the 'expr_prop' threshold will\
      \ be assigned to the *worst* score of the ones that do. 'False' by default."
    info: null
    default:
    - false
    required: false
    direction: "input"
    multiple: false
    multiple_sep: ":"
    dest: "par"
  - type: "integer"
    name: "--n_perms"
    description: "Number of permutations for the permutation test. Note that this\
      \ is relevant only for permutation-based methods - e.g. 'CellPhoneDB"
    info: null
    default:
    - 100
    required: false
    direction: "input"
    multiple: false
    multiple_sep: ":"
    dest: "par"
  resources:
  - type: "python_script"
    path: "script.py"
    is_executable: true
  - type: "file"
    path: "./src/workflows/utils/labels.config"
    dest: "nextflow_labels.config"
  description: "Performs LIANA integration based as described in https://github.com/saezlab/liana-py"
  test_resources:
  - type: "python_script"
    path: "test.py"
    is_executable: true
  - type: "file"
    path: "resources_test/pbmc_1k_protein_v3/pbmc_1k_protein_v3_mms.h5mu"
  - type: "file"
    path: "src/base/openpipelinetestutils"
    dest: "openpipelinetestutils"
  info: null
  status: "enabled"
  requirements:
    commands:
    - "ps"
  set_wd_to_resources_dir: false
platforms:
- type: "docker"
  id: "docker"
  image: "python:3.10-slim"
  target_organization: "openpipelines-bio"
  target_registry: "ghcr.io"
  target_tag: "scgpt-preprocessor_build"
  namespace_separator: "_"
  resolve_volume: "Automatic"
  chown: true
  setup_strategy: "ifneedbepullelsecachedbuild"
  target_image_source: "https://github.com/openpipelines-bio/openpipeline"
  setup:
  - type: "apt"
    packages:
    - "procps"
    - "git"
    interactive: false
  - type: "python"
    user: false
    packages:
    - "anndata~=0.9.1"
    - "mudata~=0.2.3"
    - "pandas!=2.1.2"
    - "liana~=0.1.9"
    - "numpy~=1.24.3"
    upgrade: true
  test_setup:
  - type: "python"
    user: false
    packages:
    - "viashpy==0.6.0"
    upgrade: true
  entrypoint: []
  cmd: null
- type: "nextflow"
  id: "nextflow"
  directives:
    label:
    - "lowmem"
    - "lowcpu"
    tag: "$id"
  auto:
    simplifyInput: true
    simplifyOutput: false
    transcript: false
    publish: false
  config:
    labels:
      mem1gb: "memory = 1.GB"
      mem2gb: "memory = 2.GB"
      mem4gb: "memory = 4.GB"
      mem8gb: "memory = 8.GB"
      mem16gb: "memory = 16.GB"
      mem32gb: "memory = 32.GB"
      mem64gb: "memory = 64.GB"
      mem128gb: "memory = 128.GB"
      mem256gb: "memory = 256.GB"
      mem512gb: "memory = 512.GB"
      mem1tb: "memory = 1.TB"
      mem2tb: "memory = 2.TB"
      mem4tb: "memory = 4.TB"
      mem8tb: "memory = 8.TB"
      mem16tb: "memory = 16.TB"
      mem32tb: "memory = 32.TB"
      mem64tb: "memory = 64.TB"
      mem128tb: "memory = 128.TB"
      mem256tb: "memory = 256.TB"
      mem512tb: "memory = 512.TB"
      cpu1: "cpus = 1"
      cpu2: "cpus = 2"
      cpu5: "cpus = 5"
      cpu10: "cpus = 10"
      cpu20: "cpus = 20"
      cpu50: "cpus = 50"
      cpu100: "cpus = 100"
      cpu200: "cpus = 200"
      cpu500: "cpus = 500"
      cpu1000: "cpus = 1000"
    script:
    - "includeConfig(\"nextflow_labels.config\")"
  debug: false
  container: "docker"
info:
  config: "/home/runner/work/openpipeline/openpipeline/src/interpret/lianapy/config.vsh.yaml"
  platform: "docker"
  output: "/home/runner/work/openpipeline/openpipeline/target/docker/interpret/lianapy"
  executable: "/home/runner/work/openpipeline/openpipeline/target/docker/interpret/lianapy/lianapy"
  viash_version: "0.8.5"
  git_commit: "d33e248c3fcb8efc8156fcbd755f1ba525ae8eaf"
  git_remote: "https://github.com/openpipelines-bio/openpipeline"
  git_tag: "0.2.0-1577-gd33e248c3f"
