functionality:
  name: "fastqc"
  namespace: "qc"
  description: |
    Fastqc component, please see https://www.bioinformatics.babraham.ac.uk/projects/fastqc/. This component can take one or more files (by means of shell globbing) or a complete directory.
  arguments:
    - name: "--mode"
      alternatives: [ "-m" ]
      type: string
      choices: [ files, dir ]
      default: files
      description: The mode in which the component works. Can be either files or dir.
    - name: "--input"
      alternatives: [ "-i" ]
      type: file
      required: true
      description: Directory containing input fastq files.
      example: fastq_dir/
    - name: "--output"
      alternatives: [ "-o" ]
      type: file
      direction: output
      required: true
      description: Output directory to write reports to.
      example: qc/
    - name: "--threads"
      alternatives: ["-t"]
      type: integer
      required: false
      description: |
        Specifies the number of files which can be processed simultaneously. Each thread will be allocated 250MB of
        memory.
  resources:
    - type: bash_script
      path: script.sh
  test_resources:
    - type: bash_script
      path: test.sh
    - path: /resources_test/cellranger_tiny_fastq/cellranger_tiny_fastq
platforms:
  - type: docker
    image: ubuntu:22.04
    setup:
      - type: apt
        packages: [ fastqc ]
  - type: nextflow
    directives:
      label: [lowcpu, midmem]
