name: binning
namespace: "scgpt"
description: |
  Conversion of (pre-processed) expression count data into relative values (bins) to address scale differences across sequencing batches.
authors:
  - __merge__: /src/authors/dorien_roosen.yaml
    roles: [ maintainer, author ]
  - __merge__: /src/authors/elizabeth_mlynarski.yaml
    roles: [ author ]
  - __merge__: /src/authors/weiwei_schultz.yaml
    roles: [ contributor ]

argument_groups:
  - name: Inputs
    arguments:
      - name: "--input"
        type: file
        direction: input
        required: true
        example: input.h5mu
        description: |
          Input h5mu file.
      - name: "--modality"
        type: string
        default: "rna"
        required: false
      - name: "--input_layer"
        type: string
        required: False
        description: |
          Mudata layer (key from .layers) to use as input data for binning. If not specified, .X is used.
      - name: "--var_input"
        type: string
        default: "id_in_vocab"
        description: |
          The name of the adata.var column containing boolean mask for vocabulary-cross checked and/or highly variable genes.
      - name: "--n_input_bins"
        type: integer
        default: 51
        required: False
        min: 1
        description: |
          The number of bins to discretize the data into. When no value is provided, data won't be binned.
          
  - name: Outputs
    arguments:
      - name: "--output"
        direction: output
        type: file
        example: output.h5mu
        required: true
        description: |
          The output h5mu file containing the binned data.    
      - name: "--output_obsm_binned_counts"
        type: string
        default: "binned_counts"
        description: |
          The name of the adata layer to write the binned data to.
      - name: "--seed"
        type: integer
        description: |
          Seed for random number generation.
    __merge__: [., /src/base/h5_compression_argument.yaml]


resources:
  - type: python_script
    path: script.py
  - path: /src/utils/setup_logger.py
  - path: /src/utils/subset_vars.py
test_resources:
  - type: python_script
    path: test.py
  - path: /resources_test/scgpt/test_resources/Kim2020_Lung_subset_preprocessed.h5mu

engines:
  - type: docker
    image: python:3.11-slim
    setup:
      - type: apt
        packages: 
          - procps
      - type: python
        __merge__: [ /src/base/requirements/anndata_mudata.yaml, .]
    __merge__: [ /src/base/requirements/python_test_setup.yaml ]
runners:
  - type: executable
  - type: nextflow
    directives:
      label: [ midcpu, midmem ]
