manifest {
  nextflowVersion = '!>=20.12.1-edge'
}

includeConfig "${workflow.projectDir}/target/nextflow/mapping/bd_rhapsody_wta/nextflow.config"
includeConfig "${workflow.projectDir}/target/nextflow/mapping/bd_rhapsody_extracth5ad/nextflow.config"
includeConfig "${workflow.projectDir}/target/nextflow/transfer/publish/nextflow.config"

docker {
  runOptions = "-v ${workflow.projectDir}:${workflow.projectDir}"
}

process {
  maxForks = 30
  container = 'ubuntu'
  errorStrategy='ignore'
}
