manifest {
  nextflowVersion = '!>=20.12.1-edge'
}

// ADAPT rootDir ACCORDING TO RELATIVE PATH WITHIN PROJECT
params {
  rootDir = "$projectDir/../.."
}

workflowDir = "${params.rootDir}/workflows"
targetDir = "${params.rootDir}/target/nextflow"

// INSERT CUSTOM IMPORTS HERE
includeConfig "$targetDir/mapping/bd_rhapsody_wta/nextflow.config"
includeConfig "$targetDir/mapping/bd_rhapsody_extracth5ad/nextflow.config"
includeConfig "$targetDir/transfer/publish/nextflow.config"
// END INSERT

docker {
  runOptions = "-v \$(realpath ${params.rootDir}):\$(realpath ${params.rootDir})"
}

process {
  maxForks = 30
  cpus = 2
  errorStrategy='ignore'
  container = 'nextflow/bash:latest'

  pod = [ [ nodeSelector: 'worker-group = m5s' ] ] 

  withLabel: highmem { memory = 50.Gb }
  withLabel: highcpu { cpus = 20 }
  withLabel: highmem_highcpu { 
    cpus = 20
    memory = 128.Gb 
  }
}
