manifest {
  nextflowVersion = '!>=20.12.1-edge'
}

includeConfig "$launchDir/target/nextflow/mapping/bd_rhapsody_wta/nextflow.config"
includeConfig "$launchDir/target/nextflow/mapping/bd_rhapsody_extracth5ad/nextflow.config"
includeConfig "$launchDir/target/nextflow/transfer/publish/nextflow.config"

docker {
  runOptions = "-v $launchDir:$launchDir"
}

process {
  maxForks = 30
  container = 'ubuntu'
  errorStrategy='ignore'
}
