
manifest {
  nextflowVersion = '!>=20.12.1-edge'
}

params {
  rootDir = java.nio.file.Paths.get("$projectDir/../../../").toAbsolutePath().normalize().toString()
}

// include common settings
includeConfig("${params.rootDir}/src/workflows/utils/labels.config")

/Users/jakubmajercik/Data_Intuitive/openpipelines-bio/openpipeline/src/workflows/zero_shot_cell_type_annotation/nextflow.config