manifest {
  nextflowVersion = '!>=20.12.1-edge'
}

// ADAPT rootDir ACCORDING TO RELATIVE PATH WITHIN PROJECT
params {
  rootDir = "$projectDir/../../../"
}

workflowDir = "${params.rootDir}/workflows"
targetDir = "${params.rootDir}/target/nextflow"

// INSERT CUSTOM IMPORTS HERE
includeConfig "$targetDir/filter/filter_on_counts/nextflow.config"
includeConfig "$targetDir/filter_doublets/scrublet/nextflow.config"
includeConfig "$targetDir/normalize/lognorm/nextflow.config"
includeConfig "$targetDir/hvg/hvg_scanpy/nextflow.config"
includeConfig "$targetDir/dimred/pca/nextflow.config"
includeConfig "$targetDir/neighbors/find_neighbors/nextflow.config"
includeConfig "$targetDir/dimred/umap/nextflow.config"
includeConfig "$targetDir/cluster/leiden/nextflow.config"

includeConfig "$targetDir/transfer/publish/nextflow.config"
// END INSERT

docker {
  runOptions = "-v \$(realpath --no-symlinks ${params.rootDir}):\$(realpath --no-symlinks ${params.rootDir})"
}

process {
  errorStrategy = 'ignore'
  container = 'nextflow/bash:latest'
  
}
