manifest {
  nextflowVersion = '!>=20.12.1-edge'
}

// ADAPT rootDir ACCORDING TO RELATIVE PATH WITHIN PROJECT
params {
  rootDir = java.nio.file.Paths.get("$projectDir/../../../").toAbsolutePath().normalize().toString()
}

def targetDir = "${params.rootDir}/target/nextflow"
def viash_temp = System.getenv("VIASH_TEMP") ?: "/tmp/"


// INSERT CUSTOM IMPORTS HERE
includeConfig "$targetDir/filter/filter_with_counts/nextflow.config"
includeConfig "$targetDir/filter/filter_with_scrublet/nextflow.config"
includeConfig "$targetDir/filter/filter_with_hvg/nextflow.config"
includeConfig "$targetDir/filter/do_filter/nextflow.config"
includeConfig "$targetDir/transform/log1p/nextflow.config"
includeConfig "$targetDir/transform/normalize_total/nextflow.config"
includeConfig "$targetDir/dimred/pca/nextflow.config"
includeConfig "$targetDir/neighbors/find_neighbors/nextflow.config"
includeConfig "$targetDir/dimred/umap/nextflow.config"
includeConfig "$targetDir/cluster/leiden/nextflow.config"

includeConfig "$targetDir/transfer/publish/nextflow.config"
// END INSERT

docker {
  runOptions = "-v ${params.rootDir}:${params.rootDir} -v $viash_temp:$viash_temp"
}

process {
  // errorStrategy = 'ignore'
  container = 'nextflow/bash:latest'
}