name: "totalvi_leiden_test"
namespace: "test_workflows/integration"
scope: "test"
description: "This component tests the output of totalvi_leiden integration workflow."
authors:
  - __merge__: /src/authors/dorien_roosen.yaml
argument_groups:
  - name: Inputs
    arguments:
      - name: "--input"
        type: file
        required: true
        description: Path to h5mu output.
        example: foo.final.h5mu
      - name: "--expected_modalities"
        type: string
        multiple: true
        required: true
        description: List of expected modalities in the output h5mu.
        example: ["rna", "prot"]
resources:
  - type: python_script
    path: script.py
  - path: /src/utils/setup_logger.py
engines:
  - type: docker
    image: python:3.12-slim
    __merge__: /src/base/requirements/testworkflows_setup.yaml
runners:
  - type: executable
  - type: nextflow