process {
  // Default resources for components that hardly do any processing
  memory = { 2.GB * task.attempt }
  cpus = 1

  // Retry for exit codes that have something to do with memory issues
  errorStrategy = { task.exitStatus in 137..140 ? 'retry' : 'terminate' }
  maxRetries = 2

  // Resource labels
  withLabel: singlecpu { cpus = 1 }
  withLabel: lowcpu { cpus = 4 }
  withLabel: midcpu { cpus = 10 }
  withLabel: highcpu { cpus = 20 }
  
  withLabel: lowmem { memory = { 4.GB * task.attempt } }
  withLabel: midmem { memory = { 25.GB * task.attempt } }
  withLabel: highmem { memory = { 50.GB * task.attempt } }
  withLabel: veryhighmem { memory = { 75.GB * task.attempt } }
}
