process {

  withLabel: lowmem { memory = 6.5.GB }
  withLabel: midmem { memory = 6.5.GB }
  withLabel: highmem { memory = 6.5.GB }
  withLabel: veryhighmem { memory = 6.5.GB }

  withLabel: singlecpu { cpus = 2 }
  withLabel: lowcpu { cpus = 2 }
  withLabel: midcpu { cpus = 2 }
  withLabel: highcpu { cpus = 2 }
}

env.NUMBA_CACHE_DIR = '/tmp'

trace {
    enabled = true
    overwrite = true
}
dag {
  overwrite = true
}

process.maxForks = 1
