process {
  withLabel: lowmem { memory = 30.Gb }
  withLabel: lowcpu { cpus = 18 }
  withLabel: midmem { memory = 30.Gb }
  withLabel: midcpu { cpus = 18 }
  withLabel: highmem { memory = 30.Gb }
  withLabel: highcpu { cpus = 18 }
}

env.NUMBA_CACHE_DIR = '/tmp'

trace {
    enabled = true
}

process.maxForks = 1
