functionality:
  name: "from_bd_to_10x_molecular_barcode_tags"
  status: enabled
  namespace: "convert"
  version: "dev"
  description: |
    Convert the molecular barcode sequence SAM tag from BD format (MA) to 10X format (UB).
  authors:
    - name: Dries Schaumont
      email: dries.schaumont@data-intuitive.com
      roles: [ maintainer ]
      props: { github: DriesSchaumont, orcid: "0000-0002-4389-0440" }
  arguments:
    - name: "--input"
      alternatives: ["-i"]
      type: file
      must_exist: true
      description: Input SAM or BAM file.
      example: input.bam
      direction: input
      required: true
    - name: "--output"
      alternatives: ["-o"]
      type: file
      description: Output alignment file.
      example: output.sam
      direction: output
    - name: "--bam"
      type: boolean_true
      description: Output a BAM file.
    - name: "--threads"
      alternatives: ["-t"]
      type: integer
      description: Number of threads
  resources:
    - type: bash_script
      path: script.sh
  test_resources:
    - type: bash_script
      path: run_test.sh
    - path: ../../../resources_test/bdrhap_5kjrt/processed/WTA
platforms:
  - type: docker
    image: ubuntu:latest
    setup:
      - type: apt
        packages: [ samtools ]
  - type: nextflow
    variant: vdsl3