name: "scgpt_annotation_test"
namespace: "test_workflows/annotation"
description: "This component test the output of the integration test of the scgpt_integration_knn workflow."
authors:
  - __merge__: /src/authors/dorien_roosen.yaml
argument_groups:
  - name: Inputs
    arguments:
      - name: "--input"
        type: file
        required: true
        description: Path to h5mu output.
        example: foo.final.h5mu
      - name: "--n_hvg"
        type: integer
        required: true
        description: Number of highly variable genes the input file was subset for.
        example: 400
resources:
  - type: python_script
    path: script.py
  - path: /src/utils/setup_logger.py
  - path: /src/base/openpipelinetestutils
    dest: openpipelinetestutils
engines:
  - type: docker
    image: python:3.12-slim
    setup:
      - type: docker
        copy: ["openpipelinetestutils /opt/openpipelinetestutils"]
      - type: apt
        packages: 
          - procps
      - type: python
        packages: /opt/openpipelinetestutils
      - type: python
        __merge__: [/src/base/requirements/anndata_mudata.yaml, /src/base/requirements/viashpy.yaml, .]
runners:
  - type: executable
  - type: nextflow