name: compress_h5mu
namespace: "compression"
scope: "public"
description: |
  Compress a MuData file. 
authors:
  - __merge__: /src/authors/dries_schaumont.yaml
    roles: [ maintainer ]
arguments:
  - name: "--input"
    alternatives: ["-i"]
    type: file
    description: Path to the input .h5mu.
    required: true
    example: sample_path
    direction: input
  - name: "--output"
    type: file
    description: location of output file.
    required: true
    direction: output
__merge__: [., /src/base/h5_compression_argument.yaml]
resources:
  - type: python_script
    path: script.py
  - path: ../../utils/compress_h5mu.py
test_resources:
  - type: python_script
    path: run_test.py
  - path: /resources_test/concat_test_data/e18_mouse_brain_fresh_5k_filtered_feature_bc_matrix_subset_unique_obs.h5mu

engines:
  - type: docker
    image: python:3.13-slim
    setup:
      - type: apt
        packages: 
          - procps
      - type: python
        __merge__: /src/base/requirements/anndata_mudata.yaml
    __merge__: [ /src/base/requirements/python_test_setup.yaml, .]

runners:
  - type: executable
  - type: nextflow
    directives:
      label: [ singlecpu, lowmem ]