functionality:
  name: "multiqc"
  namespace: "qc"
  description: |
    MultiQC aggregates results from bioinformatics analyses across many samples into a single report.
    It searches a given directory for analysis logs and compiles a HTML report. It's a general use tool, perfect for summarising the output from numerous bioinformatics tools.
  arguments:
    - name: "--input"
      alternatives: [ "-i" ]
      type: file
      required: true
      multiple: true
      description: Inputs for MultiQC.
      example: input.txt
    - name: "--output"
      alternatives: [ "-o" ]
      type: file
      direction: output
      required: true
      description: Create report in the specified output directory.
      example: report
  resources:
    - type: python_script
      path: script.py
  test_resources:
    - type: python_script
      path: test.py
    - path: /resources_test/10x_5k_anticmv/fastqc/
platforms:
  - type: docker
    image: python:3.10-slim
    setup:
      - type: apt
        packages: 
          - procps
      - type: python
        packages: [ multiqc ]
    test_setup:
      - type: python
        __merge__: [ /src/base/requirements/viashpy.yaml, .]

  - type: nextflow
    directives:
      label: [singlecpu, lowmem]
