name: viash integration CI

on:
  push:
    branches: [ '*' ]
  pull_request:
    branches: [ '*' ]

# Skip older CI runs for pull requests (head_ref exists), otherwise allways build
# https://docs.github.com/en/actions/using-jobs/using-concurrency#example-using-a-fallback-value
concurrency: 
  group: ${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  # phase 1
  list_components:
    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, 'ci skip')"

    steps:
    - uses: actions/checkout@v2
    - name: Fetch viash
      run: |
        bin/init
        bin/viash -h
    - id: set_matrix
      run: |
        echo "::set-output name=matrix::$( bin/viash ns list -s workflows --format json | jq -c '[ .[] | { "name": .functionality.name, "config": .info.config, "test_script": .functionality.test_resources[].path, "entry": .functionality.test_resources[].entrypoint } ]' )"
    outputs:
        matrix: ${{ steps.set_matrix.outputs.matrix }}

  # phase 2
  viash_test:
    needs: list_components

    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, 'ci skip')"

    strategy:
      fail-fast: false
      matrix:
        component: ${{ fromJson(needs.list_components.outputs.matrix) }}

    steps:
    - uses: actions/checkout@v2

    - name: Fetch viash
      run: |
        bin/init
        bin/viash -h

    - name: Sync test resources
      run: |
        bin/viash_build -q sync_test_resources
        target/docker/download/sync_test_resources/sync_test_resources

    - name: Run test
      run: |
        # bin/viash test -p docker ${{ matrix.component_path }}
        echo ${{ matrix.component }}
        echo name: ${{ matrix.component.name }}
        echo config: ${{ matrix.component.config }}
        echo test_script: ${{ matrix.component.test_script }}
        echo entry: ${{ matrix.component.entry }}

