name: viash test CI

on:
  push:
    branches: [ '*' ]
  pull_request:
    branches: [ '*' ]

jobs:
  viash-test:
    runs-on: ${{ matrix.config.os }}
    if: "!contains(github.event.head_commit.message, 'ci skip')"

    strategy:
      fail-fast: false
      matrix:
        config:
        - {name: 'main', os: ubuntu-latest }

    steps:
    - uses: actions/checkout@v2

    - name: Fetch viash
      run: |
        bin/init
        bin/viash -h

    - name: Sync test resources
      run: |
        bin/viash_build -q sync_test_resources
        target/docker/download/sync_test_resources/sync_test_resources

    - name: Run build
      run: |
        bin/viash_build

    - name: Run tests
      run: |
        # create check_results folder
        sed -i '/^check_results\/$/d' .gitignore
        mkdir check_results

        # run tests
        bin/viash_test --append=false --log check_results/viash_test_log.txt --tsv check_results/viash_test_log.tsv

    - name: Upload check results
      uses: actions/upload-artifact@master
      with:
        name: ${{ matrix.config.name }}_results
        path: check_results

