name: viash build CI

on:
  push:
    branches: [ main ]

jobs:
  viash-build:
    runs-on: ${{ matrix.config.os }}
    if: "!contains(github.event.head_commit.message, 'ci skip')"

    strategy:
      fail-fast: true
      matrix:
        config:
        - {name: 'main', os: ubuntu-latest }

    steps:
    - name: Build
      run: |
        echo "Free space:"
        df -h

    - name: Maximize build space
      uses: easimon/maximize-build-space@master
      with:
        build-mount-path: /home/runner/work/openpipeline
        remove-dotnet: 'true'
        remove-android: 'true'
        remove-haskell: 'true'

    - name: Build 2
      run: |
        echo "Free space:"
        df -h
    - name: Change docker image storage
      run: |
        systemctl stop docker
        rm -rf /var/lib/docker
        mkdir -p /var/lib/docker
        mkdir -p /home/runner/work/openpipelines/docker_images/
        mount --rbind /home/runner/work/openpipelines/docker_images/ /var/lib/docker
        systemctl start docker

    - uses: actions/checkout@v2

    - name: Fetch viash
      run: |
        bin/init
        bin/viash -h

    - name: Build components
      run: |
        # allow publishing the target folder
        sed -i '/^target$/d' .gitignore
        
        # only build nextflow targets
        bin/viash_build -m release -t main_build


    - name: Build 3
      run: |
        echo "Free space:"
        df -h

    - name: Deploy to target branch
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: .
        publish_branch: main_build
        
    - name: Login to Docker Hub
      uses: docker/login-action@v1
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GTHB_PAT }}

    - name: Push containers
      run: |
        bin/viash_push -m release -t main_build --force
        
    - name: Upload check results
      uses: actions/upload-artifact@master
      with:
        name: ${{ matrix.config.name }}_results
        path: check_results